<div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">ค่าบ้าน</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ค่าบ้าน</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex no-block justify-content-end align-items-center">
                    <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-holiday-add"><i
                        class="fa fa-plus"></i> บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-cover-table">
                        <div class="row">
                            <div class="col-9">
                                ข้อมูลค่าบ้าน
                            </div>
                             
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <label for="stock-category">ชื่อที่พัก</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="หอพักไทยรวมสิน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="stock-category">ที่อยู่</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="111/22 อารียาเดอะวิลเลจ ตำบลไทรน้อย อำเภอไทรน้อย นนทบุรี 11150">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <label for="stock-category">ค่าบ้าน/เดือน</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="5000">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <label for="stock-category">ประเภท</label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>บ้านบริษัท</option>
                                        <option>บ้านส่วนตัว</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-cover-table">
                        <div class="row">
                            <div class="col-9">
                                ข้อมูลพนักงาน/ผู้อาศัย
                            </div>
                            <div class="col-3">
                                <div class="d-flex no-block justify-content-end align-items-center">
                                    <button type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#modal-holiday-add"><i
                                            class="fa fa-plus"></i> เพิ่มพนักงาน/ผู้อาศัย</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="calendar_holiday_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th>ชื่อ-สกุล</th>
                                        <th style="width: 15%;">ตำแหน่ง</th>
                                        <th style="width: 15%;">ค่าบ้าน</th>
                                        <th style="width: 10%;" class="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 5%;" class="center">1</td>
                                        <td>
                                            <span>พิสิษฐ์ งามการ</span>
                                        </td>
                                        <td>
                                            <span>รปภ.</span>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" class="form-control">
                                            </div>
                                        </td>
                                        <td class="center">
                                            <i class="fas fa-trash-alt btn-remove" (click)="delete(item.id)"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 5%;" class="center">2</td>
                                        <td>
                                            <span>ธนารัตน์ สุวรรณนันท์</span>
                                        </td>
                                        <td>
                                            <span>รปภ.</span>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" class="form-control">
                                            </div>
                                        </td>
                                        <td class="center">
                                            <i class="fas fa-trash-alt btn-remove" (click)="delete(item.id)"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 5%;" class="center">3</td>
                                        <td>
                                            <span>ธนาคาร นามมะ</span>
                                        </td>
                                        <td>
                                            <span>รปภ.</span>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" class="form-control">
                                            </div>
                                        </td>
                                        <td class="center">
                                            <i class="fas fa-trash-alt btn-remove" (click)="delete(item.id)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!--Add modal-->
    <div class="modal" id="modal-holiday-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-add">
                        <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลปฏิทินวันหยุด</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addForm">
                            <div class="form-group">
                                <label for="holiday-date" class="control-label">วันที่ <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="holiday-date" formControlName="holiday_date" 
                                daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.holiday_date.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.holiday_date.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.holiday_date.errors.required">โปรดระบุวันที่</div>
                                </div>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="holiday_name">รายละเอียดวันหยุด <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="holiday_name" formControlName="holiday_name"
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.holiday_name.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.holiday_name.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.holiday_name.errors.required">โปรดระบุรายละเอียดวันหยุด</div>
                                </div>
                            </div> 
                            <div class="form-group m-b-30">
                                <label for="paid_peroid">รอบการจ่ายเงิน <span class="star-required">*</span></label>
                                    <select class="form-control" formControlName="paid_peroid" 
                                    [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.paid_peroid.errors }">
                                        <option value="">--- กรุณาเลือก ---</option>
                                        <option value="0">จ่ายในรอบ</option>
                                        <option value="1">1 รอบบิล</option>
                                        <option value="2">2 รอบบิล</option>
                                        <option value="3">3 รอบบิล</option>
                                    </select>
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.paid_peroid.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.paid_peroid.errors.required">โปรดระบุรอบบิล</div>
                                    </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-success" (click)="addHoliday(addForm.value)">บันทึก</button>
                        <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Add modal-->
    
        <!--Edit modal-->
    <div class="modal" id="modal-holiday-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal-header-edit">
                            <h4 class="modal-title" id="exampleModalLabel1">แก้ไขข้อมูลปฏิทินวันหยุด</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="editForm">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="id" formControlName="id">
                                </div>
                                <div class="form-group">
                                    <label for="holiday-date" class="control-label">วันที่ <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" id="holiday-date" formControlName="holiday_date" 
                                    daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
                                    [ngClass]="{ 'is-invalid': submitted_edit && editForm.controls.holiday_date.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.holiday_date.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.holiday_date.errors.required">โปรดระบุวันที่</div>
                                    </div>
                                </div>
                                <div class="form-group m-b-30">
                                    <label for="holiday_name">รายละเอียดวันหยุด <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" id="holiday_name" formControlName="holiday_name"
                                    [ngClass]="{ 'is-invalid': submitted_edit && editForm.controls.holiday_name.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.holiday_name.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.holiday_name.errors.required">โปรดระบุรายละเอียดวันหยุด</div>
                                    </div>
                                </div> 
                                <div class="form-group m-b-30">
                                    <label for="paid_peroid">รอบการจ่ายเงิน <span class="star-required">*</span></label>
                                        <select class="form-control" formControlName="paid_peroid" 
                                        [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.paid_peroid.errors }">
                                            <option value="">--- กรุณาเลือก ---</option>
                                            <option value="0">จ่ายในรอบ</option>
                                            <option value="1">1 รอบบิล</option>
                                            <option value="2">2 รอบบิล</option>
                                            <option value="3">3 รอบบิล</option>
                                        </select>
                                        <div *ngIf="submitted_edit &amp;&amp; editForm.controls.paid_peroid.errors" class="text-danger">
                                            <div *ngIf="editForm.controls.paid_peroid.errors.required">โปรดระบุรอบบิล</div>
                                        </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-rounded btn-success" (click)="updateCalendarHoliday(editForm.value)">บันทึก</button>
                            <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
        </div>
        <!-- End Edit modal-->
    
    
        <div class="modal" id="modal-holiday-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body center remove-modal-bg-content">
                            <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                            <span class="warnnig-remove-text">
                                คุณต้องการลบข้อมูลปฏิทินวันหยุดรายการนี้
                            </span>
                        </div>
                        <div class="modal-footer center">
                                <button type="button" class="btn btn-rounded btn-danger" (click)="deleteProcess(currentCalendarHoliday)">ยืนยัน</button>&nbsp;
                                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Edit modal-->