<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">เปลี่ยนรหัสผ่าน</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">เปลี่ยนรหัสผ่าน</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header card-header-cover-table">
                      <div class="row">
                          <div class="col-9">
                            เปลี่ยนรหัสผ่าน
                          </div>
                          <div class="col-3">
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                    <fieldset class="border p-2 bg-tis-emp">
                    <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> เปลี่ยนรหัสผ่าน</legend>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <label>รหัสผ่านเก่า </label>
                            <div class="input-group date">
                                <input [type]="passwordOldType" class="form-control" [(ngModel)]="passwordOld" placeholder="รหัสผ่านเก่า">
                                <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="togglePasswordOldShow()">
                                    <i *ngIf="!passwordOldShow" class="fa fa-eye"></i>
                                    <i *ngIf="passwordOldShow" class="fa fa-eye-slash"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>รหัสผ่านใหม่ </label>
                            <div class="input-group date">
                                <input [type]="passwordNewType" class="form-control" [(ngModel)]="passwordNew" placeholder="รหัสผ่านใหม่">
                                <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="togglePasswordNewShow()">
                                    <i *ngIf="!passwordNewShow" class="fa fa-eye"></i>
                                    <i *ngIf="passwordNewShow" class="fa fa-eye-slash"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>ยืนยันรหัสผ่านใหม่ </label>
                            <div class="input-group date">
                                <input [type]="passwordNewConfirmType" class="form-control" [(ngModel)]="passwordNewConfirm" placeholder="ยืนยันรหัสผ่านใหม่">
                                <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="togglePasswordNewConfirmShow()">
                                    <i *ngIf="!passwordNewConfirmShow" class="fa fa-eye"></i>
                                    <i *ngIf="passwordNewConfirmShow" class="fa fa-eye-slash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center">
                            <button type="button" class="btn btn-rounded btn-success" (click)="validatePassword()">บันทึก</button>
                        </div>
                    </div>
                    </fieldset>
                  </div>
              </div>
          </div>
      </div>
  </div>



