<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">รายการสิทธิ์การลา</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">รายการสิทธิ์การลา</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
  </div>
  <br /> 

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            สิทธิ์การลา {{employeeFullName}}
                        </div>
                        <div class="col-3">
                            วันที่เริ่มลาได้ {{leaveActiveDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-star-circle"></i></span></div>
                                <div><span class="text-muted">ลาป่วย</span>
                                    <h3 class="font-medium mb-0"></h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-primary display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลาได้</span>
                                    <h3 class="font-medium mb-0">{{slNumberLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-success display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลา</span>
                                    <h3 class="font-medium mb-0">{{slUseLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันลาที่เหลือ</span>
                                    <h3 class="font-medium mb-0">{{slBalanceLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                    </div>
                    <div class="row mt-2">
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-star-circle"></i></span></div>
                                <div><span class="text-muted">ลาพักร้อน</span>
                                    <h3 class="font-medium mb-0"></h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-primary display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลาได้</span>
                                    <h3 class="font-medium mb-0">{{vlNumberLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-success display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลา</span>
                                    <h3 class="font-medium mb-0">{{vlUseLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันลาที่เหลือ</span>
                                    <h3 class="font-medium mb-0">{{vlBalanceLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                    </div>
                    <div class="row mt-2">
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-star-circle"></i></span></div>
                                <div><span class="text-muted">ลากิจ</span>
                                    <h3 class="font-medium mb-0"></h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-primary display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลาได้</span>
                                    <h3 class="font-medium mb-0">{{blNumberLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-success display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลา</span>
                                    <h3 class="font-medium mb-0">{{blUseLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันลาที่เหลือ</span>
                                    <h3 class="font-medium mb-0">{{blBalanceLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                    </div>
                    <div class="row mt-2">
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-star-circle"></i></span></div>
                                <div><span class="text-muted">ลาอื่นๆ</span>
                                    <h3 class="font-medium mb-0"></h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-primary display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลาได้</span>
                                    <h3 class="font-medium mb-0">{{otherNumberLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-success display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันที่ลา</span>
                                    <h3 class="font-medium mb-0">{{otherUseLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-wallet"></i></span></div>
                                <div><span class="text-muted">จำนวนวันลาที่เหลือ</span>
                                    <h3 class="font-medium mb-0">{{otherBalanceLeaveDay}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-8">
                            รายการลา
                        </div>
                        <div class="col-3" *ngIf="isHr">
                            <button type="button" (click)="openModalExportSecurityGuard()" class="btn btn-rounded btn-warning"> โหลดเอกสารสรุปบัญชีลาพักร้อน รปภ.</button>
                        </div>
                        <div class="col-1" *ngIf="isHr">
                            <button type="button" (click)="openModalExport()" class="btn btn-rounded btn-info"> โหลดเอกสาร</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="isHr">
                        <div class="card col-sm-12 col-md-12">
                            <form [formGroup]="searchForm" id="add-form">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group m-b-30">
                                            <label for="employeeId">พนักงาน</label>
                                            <ng-multiselect-dropdown 
                                            [placeholder]="'เลือก พนักงาน'"
                                            [settings]="dropdownSettings"
                                            [data]="employeeList"
                                            [(ngModel)]="selectedItems"
                                            [ngModelOptions]="{standalone: true}"
                                            (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="onDeSelect($event)"
                                            >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <div class="form-group m-b-30">
                                            <button type="button" class="btn btn-rounded btn-info" style="margin-top: 15%;" (click)="leaveSearch()"><i class="fa fa-search"></i> ค้นหา</button>
                                        </div>
                                    </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                      
                                      <div class="row">
                                          <div class="col-sm-12 col-md-4"></div>
                                          <div class="col-sm-12 col-md-4">
                                              <div class="form-group">
                                                  <input type="text" class="form-control input-search" (keyup)="applyFilter($event.target.value)" placeholder="พิมพ์เพื่อค้นหาข้อมูล">
                                              </div>
                                          </div>
                                          <div class="col-sm-12 col-md-4" *ngIf="isHr">
                                            <button type="button" class="btn btn-rounded btn-success" (click)="openModalLeaveAdd()"><i
                                                class="fa fa-plus"></i> บันทึกการลา</button>
                                          </div>
                                          
                                      </div>
                                        
                                      <table mat-table [dataSource]="dataSource" matSort>
                                        
                                        <ng-container matColumnDef="leaveTypeName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ประเภทการลา </th>
                                            <td mat-cell *matCellDef="let element"> {{element.leaveTypeName}} </td>
                                          </ng-container>
                                        
                                            <ng-container matColumnDef="leaveDate">
                                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> วันที่ลา </th>
                                              <td mat-cell *matCellDef="let element"> {{element.leaveDateStart | date: 'dd/MM/yyyy'}} - {{element.leaveDateEnd | date: 'dd/MM/yyyy'}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="useLeaveDay">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> จำนวนวันที่ลา </th>
                                                <td mat-cell *matCellDef="let element"> {{element.useLeaveDay}} </td>
                                            </ng-container>

                                          <ng-container matColumnDef="institution">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> หน่วยงาน </th>
                                            <td mat-cell *matCellDef="let element"> {{element.institution}} </td>
                                          </ng-container>

                                          <ng-container matColumnDef="details">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> รายละเอียด </th>
                                            <td mat-cell *matCellDef="let element">
                                                <textarea class="form-control" rows="4">{{element.details}}</textarea>
                                            </td>
                                          </ng-container>

                                          <ng-container matColumnDef="url1">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> เอกสารแนบ </th>
                                            <td mat-cell *matCellDef="let element">
                                                <a *ngIf="element?.url1" target="_blank" href="{{ element?.url1 }}">{{ element?.nameUrl1 }}</a><br>
                                                <a *ngIf="element?.url2" target="_blank" href="{{ element?.url2 }}">{{ element?.nameUrl2 }}</a><br>
                                                <a *ngIf="element?.url3" target="_blank" href="{{ element?.url3 }}">{{ element?.nameUrl3 }}</a>
                                            </td>
                                          </ng-container>

                                          <ng-container matColumnDef="id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header">  </th>
                                            <td mat-cell *matCellDef="let element">
                                                <i class="fas fa-edit btn-edit" (click)="openModalLeaveEdit(element)" *ngIf="isHr"></i>&nbsp;
                                                <i class="fas fa-trash-alt btn-remove" (click)="delete(element.id)" *ngIf="isHr"></i>&nbsp;
                                            </td>
                                          </ng-container>
                  
                                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                                        
                  
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
  
<!--Add modal-->
<div class="modal" id="modal-leave-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">บันทึกการลา</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm">
                    <div class="form-group">
                        <label for="employeeId" class="control-label">พนักงาน <span class="star-required">*</span></label>
                        <ng-multiselect-dropdown 
                        [placeholder]="'เลือก พนักงาน'"
                        [settings]="dropdownSettings"
                        [data]="employeeList"
                        [(ngModel)]="selectedItems"
                        [ngModelOptions]="{standalone: true}"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="onDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.employeeId.errors" class="text-danger">
                            <div *ngIf="addForm.controls.employeeId.errors.required">โปรดระบุพนักงาน</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pick_date" class="control-label">วันที่ลา <span class="star-required">*</span></label>
                        <div class="input-group date"> 
                            <input type="text" 
                            name="daterangeInput" daterangepicker [options]="optionleDate" (selected)="selectedLeaveDate($event, daterange)"
                            class="form-control" id="leaveDate" formControlName="leaveDate" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.leaveDate.errors }">
                        </div>
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.leaveDate.errors" class="text-danger">
                            <div *ngIf="addForm.controls.leaveDate.errors.required">โปรดระบุวันที่ลา</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leaveType" class="control-label">ประเภทการลา <span class="star-required">*</span></label>
                        <select class="form-control" formControlName="leaveType">
                            <option value="">--- ประเภทการลา ---</option>
                            <option value="SL">ลาป่วย</option>
                            <option value="VL">ลาพักร้อน</option>
                            <option value="BL">ลากิจ</option>
                            <option value="OT">ลาอื่นๆ</option>
                        </select>
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.leaveType.errors" class="text-danger">
                            <div *ngIf="addForm.controls.leaveType.errors.required">โปรดระบุประเภทการลา</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">รายละเอียด</label>
                        <textarea class="form-control" rows="5" formControlName="details"></textarea>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="description" class="control-label">เอกสารแนบ 1</label>
                                <input #selectFile1 type="file" class="form-control" (change)="selectFile($event,1)">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="description" class="control-label">ชื่อเอกสารแนบ 1</label>
                                <input type="text" formControlName="nameUrl1" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="description" class="control-label">เอกสารแนบ 2</label>
                                <input #selectFile2 type="file" class="form-control" (change)="selectFile($event,2)">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="description" class="control-label">ชื่อเอกสารแนบ 2</label>
                                <input type="text" formControlName="nameUrl2" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="description" class="control-label">เอกสารแนบ 3</label>
                                <input #selectFile3 type="file" class="form-control" (change)="selectFile($event,3)">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="description" class="control-label">ชื่อเอกสารแนบ 3</label>
                                <input type="text" formControlName="nameUrl3" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="saveLeave()">บันทึก</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal-->

<!-- Delete sub company modal-->
<div class="modal" id="modal-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center remove-modal-bg-content">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องการลบรายการนี้
                </span>
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-rounded btn-danger" (click)="deleteProcess()">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End delete sub company modal-->

<!-- Start Edit Modal -->
<div class="modal" id="modal-leave-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-edit">
                <h4 class="modal-title" id="exampleModalLabel1">แก้ไขการลา</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm">
                    <div class="form-group">
                        <label for="description" class="control-label">พนักงาน </label>
                        <input type="text" class="form-control" formControlName="employeeFullName" disabled>
                    </div>
                    <div class="form-group">
                        <label for="pick_date" class="control-label">วันที่ลา <span class="star-required">*</span></label>
                        <div class="input-group date"> 
                            <input type="text" 
                            name="daterangeInput" daterangepicker [options]="optionleDate" (selected)="selectedLeaveDate($event, daterange)"
                            class="form-control" id="leaveDate" formControlName="leaveDate" [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.leaveDate.errors }">
                        </div>
                        <div *ngIf="submitted_add &amp;&amp; editForm.controls.leaveDate.errors" class="text-danger">
                            <div *ngIf="editForm.controls.leaveDate.errors.required">โปรดระบุวันที่ลา</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leaveType" class="control-label">ประเภทการลา <span class="star-required">*</span></label>
                        <select class="form-control" formControlName="leaveType">
                            <option value="">--- ประเภทการลา ---</option>
                            <option value="SL">ลาป่วย</option>
                            <option value="VL">ลาพักร้อน</option>
                            <option value="BL">ลากิจ</option>
                            <option value="OT">ลาอื่นๆ</option>
                        </select>
                        <div *ngIf="submitted_add &amp;&amp; editForm.controls.leaveType.errors" class="text-danger">
                            <div *ngIf="editForm.controls.leaveType.errors.required">โปรดระบุประเภทการลา</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">รายละเอียด</label>
                        <textarea class="form-control" rows="5" formControlName="details"></textarea>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label for="description" class="control-label">เอกสารแนบ 1</label>
                                <input #selectFile1 type="file" class="form-control" (change)="selectFile($event,1)">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label for="description" class="control-label">ชื่อเอกสารแนบ 1</label>
                                <input type="text" formControlName="nameUrl1" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a *ngIf="data?.url1 != null " type="button" class="btn btn-rounded btn-info" title="โหลดหลักฐานประกอบ" 
                            target="_blank" href="{{ data.url1 }}">
                            <i class="fa fas fa-download"></i></a>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label for="description" class="control-label">เอกสารแนบ 2</label>
                                <input #selectFile2 type="file" class="form-control" (change)="selectFile($event,2)">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label for="description" class="control-label">ชื่อเอกสารแนบ 2</label>
                                <input type="text" formControlName="nameUrl2" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a *ngIf="data?.url2 != null " type="button" class="btn btn-rounded btn-info" title="โหลดหลักฐานประกอบ" 
                            target="_blank" href="{{ data.url2 }}">
                            <i class="fa fas fa-download"></i></a>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label for="description" class="control-label">เอกสารแนบ 3</label>
                                <input #selectFile3 type="file" class="form-control" (change)="selectFile($event,3)">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label for="description" class="control-label">ชื่อเอกสารแนบ 3</label>
                                <input type="text" formControlName="nameUrl3" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a *ngIf="data?.url3 != null " type="button" class="btn btn-rounded btn-info" title="โหลดหลักฐานประกอบ" 
                            target="_blank" href="{{ data.url3 }}">
                            <i class="fa fas fa-download"></i></a>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="updateLeave()">บันทึก</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Edit Modal -->


<!-- Start Modal export -->
<div class="modal" id="modal-export" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form>
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">เลือกเงื่อนไข</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">ประเภทการลา</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="leaveType" [ngModelOptions]="{standalone: true}" >
                                <option value="SL">ลาป่วย</option>
                                <option value="VL">ลาพักร้อน</option>
                                <option value="BL">ลากิจ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">พนักงาน</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="employeeType" [ngModelOptions]="{standalone: true}" >
                                <option value="all">รปภ. และ แม่บ้าน</option>
                                <option value="securityGuard">รปภ.</option>
                                <option value="maid">แม่บ้าน</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">เดือน</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="monthModal" [ngModelOptions]="{standalone: true}" >
                                <option *ngFor="let item of monthList" value="{{item.key}}">{{item.description}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">ปี</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="yearModal" [ngModelOptions]="{standalone: true}" >
                                <option *ngFor="let item of yearList" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">งวดวันที่</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="daysMidInMonth" [ngModelOptions]="{standalone: true}" >
                                <option value="1">1-15</option>
                                <option value="0">16-สิ้นเดือน</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="javascript: void(0)" (click)="export()">ตกลง</a>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- End Modal export -->

<!-- Start Modal export -->
<div class="modal" id="modal-export-security-guard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form>
            <div class="modal-header modal-header-edit">
                <h4 class="modal-title" id="exampleModalLabel1">เลือกเงื่อนไข</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">ประเภทการลา</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="leaveType" [ngModelOptions]="{standalone: true}" >
                                <option value="SL">ลาป่วย</option>
                                <option value="VL">ลาพักร้อน</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">พนักงาน</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="employeeType" [ngModelOptions]="{standalone: true}" >
                                <option value="all">รปภ. และ แม่บ้าน</option>
                                <option value="securityGuard">รปภ.</option>
                                <option value="maid">แม่บ้าน</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">เดือน</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="monthModal" [ngModelOptions]="{standalone: true}" >
                                <option *ngFor="let item of monthList" value="{{item.key}}">{{item.description}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">ปี</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="yearModal" [ngModelOptions]="{standalone: true}" >
                                <option *ngFor="let item of yearList" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">งวดวันที่</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="daysMidInMonth" [ngModelOptions]="{standalone: true}" >
                                <option value="1">1-15</option>
                                <option value="0">16-สิ้นเดือน</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="javascript: void(0)" (click)="exportSecurityGuard()">ตกลง</a>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- End Modal export -->