<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">ข้อมูลบริษัท</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ข้อมูลบริษัท</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex no-block justify-content-end align-items-center">
                <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-subcompany-add"><i
                        class="fa fa-plus"></i> เพิ่มบริษัท</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            รายชื่อบริษัท
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="company_table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" class="center">ลำดับ</th>
                                    <th style="width: 10%;">ชื่อบริษัท</th>
                                    <th style="width: 10%;">เลขที่ผู้เสียภาษี</th>
                                    <th style="width: 20%;">ที่อยู่</th>
                                    <th style="width: 10%;" class="center">เบอร์ติดต่อ</th>
                                    <th style="width: 10%;" class="center">Email</th>
                                    <th style="width: 10%;" class="center">Fax</th>
                                    <th style="width: 5%;" class="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of companyList; index as i">
                                    <td style="width: 5%;" class="center">{{i+1}}</td>
                                    <td style="width: 10%;" class="left">{{item.name}}</td>
                                    <td style="width: 10%;" class="left">{{item.tax_id}}</td>
                                    <td style="width: 20%;" class="left">{{item.address_detail}}</td>
                                    <td style="width: 10%;" class="center">{{item.mobile}}</td>
                                    <td style="width: 10%;" class="center">{{item.email}}</td>
                                    <td style="width: 10%;" class="center">{{item.fax}}</td>
                                    <td style="width: 5%;" class="center">
                                        <i class="fas fa-edit btn-edit" (click)="editCompany(item.id)"></i>&nbsp;
                                        <i class="fas fa-trash-alt btn-remove" (click)="deleteCompany(item.id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add sub company modal-->
<div class="modal" id="modal-subcompany-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-add">
                    <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลบริษัท</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">ชื่อบริษัท <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.name.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.name.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.name.errors.required">โปรดระบุชื่อบริษัท</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">ที่อยู่ <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="address_detail" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.address_detail.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.address_detail.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.address_detail.errors.required">โปรดระบุที่อยู่</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>จังหวัด <span class="star-required">*</span></label>
                                    <select formControlName="province" class="form-control" (change)="getAmphur($event.target.value)" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.province.errors }">
                                        <option value="" [selected]="true">--- เลือกจังหวัด ---</option>
                                        <option *ngFor="let province of countryJson; let count = index;" value="{{count}}|{{province[0]}}">{{province[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_add && addForm.controls.province.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.province.errors.required">โปรดเลือกจังหวัด</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>อำเภอ <span class="star-required">*</span></label>
                                    <select formControlName="amphur" class="form-control" (change)="getThumbon($event.target.value)" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.amphur.errors }">
                                        <option value="" [selected]="true">--- เลือกอำเภอ ---</option>
                                        <option *ngFor="let amphur of amphurJson; let count = index;" value="{{count}}|{{amphur[0]}}">{{amphur[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_add && addForm.controls.amphur.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.amphur.errors.required">โปรดเลือกอำเภอ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>ตำบล <span class="star-required">*</span></label>
                                    <select formControlName="thumbon" class="form-control" (change)="getPost($event.target.value)" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.thumbon.errors }">
                                        <option value="" [selected]="true">--- เลือกตำบล ---</option>
                                        <option *ngFor="let thumbon of thumbonJson; let count = index;" value="{{count}}|{{thumbon[0]}}">{{thumbon[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_add && addForm.controls.thumbon.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.thumbon.errors.required">โปรดเลือกตำบล</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>รหัสไปรษณีย์ <span class="star-required">*</span></label>
                                    <input type="text" formControlName="postcode" class="form-control" [(ngModel)]="postcode" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.postcode.errors }">
                                    <div *ngIf="submitted_add && addForm.controls.postcode.errors" class="text-danger">
                                          <div *ngIf="addForm.controls.postcode.errors.required">โปรดระบุรหัสไปรษณีย์</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">โทร <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.mobile.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.mobile.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.mobile.errors.required">โปรดระบุโทร</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">อีเมล์ <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.email.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.email.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.email.errors.required">โปรดระบุอีเมล์</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">Fax <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="fax" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.fax.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.fax.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.fax.errors.required">โปรดระบุFax</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">เลขที่ผู้เสียภาษี <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="tax_id" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.tax_id.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.tax_id.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.tax_id.errors.required">โปรดระบุเลขที่ผู้เสียภาษี</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">ภาษีมูลค่าเพิ่ม <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="vat" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.vat.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.vat.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.vat.errors.required">โปรดระบุภาษีมูลค่าเพิ่ม</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">Inv เครดิต <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" formControlName="inv_credit" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.inv_credit.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.inv_credit.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.inv_credit.errors.required">โปรดระบุ Inv เครดิต</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rounded btn-success" (click)="addCompany(addForm.value)">บันทึก</button>
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add sub company modal-->

    <!--Edit sub company modal-->
<div class="modal" id="modal-subcompany-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-edit">
                    <h4 class="modal-title" id="exampleModalLabel1">แก้ไขข้อมูลบริษัท</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">ชื่อบริษัท <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="company.name" formControlName="name" 
                                        [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.name.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.name.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.name.errors.required">โปรดระบุชื่อบริษัท</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">ที่อยู่ <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="company.address_detail" formControlName="address_detail" 
                                    [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.address_detail.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.address_detail.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.address_detail.errors.required">โปรดระบุที่อยู่</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>จังหวัด <span class="star-required">*</span></label>
                                    <select formControlName="province" class="form-control" (change)="getAmphur($event.target.value)" 
                                    [ngClass]="{ 'is-invalid': submitted_edit && editForm.controls.province.errors }">
                                        <option value="" [selected]="true">--- เลือกจังหวัด ---</option>
                                        <option *ngFor="let province of countryJson; let count = index;" value="{{count}}|{{province[0]}}">{{province[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_edit && editForm.controls.province.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.province.errors.required">โปรดเลือกจังหวัด</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>อำเภอ <span class="star-required">*</span></label>
                                    <select formControlName="amphur" class="form-control" (change)="getThumbon($event.target.value)" 
                                    [ngClass]="{ 'is-invalid': submitted_edit && editForm.controls.amphur.errors }">
                                        <option value="" [selected]="true">--- เลือกอำเภอ ---</option>
                                        <option *ngFor="let amphur of amphurJson; let count = index;" value="{{count}}|{{amphur[0]}}">{{amphur[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_edit && editForm.controls.amphur.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.amphur.errors.required">โปรดเลือกอำเภอ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>ตำบล <span class="star-required">*</span></label>
                                    <select formControlName="thumbon" class="form-control" (change)="getPost($event.target.value)" 
                                    [ngClass]="{ 'is-invalid': submitted_edit && editForm.controls.thumbon.errors }">
                                        <option value="" [selected]="true">--- เลือกตำบล ---</option>
                                        <option *ngFor="let thumbon of thumbonJson; let count = index;" value="{{count}}|{{thumbon[0]}}">{{thumbon[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_edit && editForm.controls.thumbon.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.thumbon.errors.required">โปรดเลือกตำบล</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>รหัสไปรษณีย์ <span class="star-required">*</span></label>
                                    <input type="text" formControlName="postcode" class="form-control" [(ngModel)]="postcode" 
                                    [ngClass]="{ 'is-invalid': submitted_edit && addForm.controls.postcode.errors }">
                                    <div *ngIf="submitted_edit && editForm.controls.postcode.errors" class="text-danger">
                                          <div *ngIf="editForm.controls.postcode.errors.required">โปรดระบุรหัสไปรษณีย์</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">โทร <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="company.mobile" formControlName="mobile" 
                                    [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.mobile.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.mobile.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.mobile.errors.required">โปรดระบุโทร</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">อีเมล์ <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="company.email" formControlName="email" 
                                    [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.email.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.email.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.email.errors.required">โปรดระบุอีเมล์</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">Fax <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="company.fax" formControlName="fax" 
                                    [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.fax.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.fax.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.fax.errors.required">โปรดระบุFax</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">เลขที่ผู้เสียภาษี <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="company.tax_id" formControlName="tax_id" 
                                    [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.tax_id.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.tax_id.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.tax_id.errors.required">โปรดระบุเลขที่ผู้เสียภาษี</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="recipient-name" class="control-label">ภาษีมูลค่าเพิ่ม <span
                                        class="star-required">*</span></label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" [(ngModel)]="company.vat" formControlName="vat" 
                                    [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.vat.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.vat.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.vat.errors.required">โปรดระบุภาษีมูลค่าเพิ่ม</div>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="company-name" class="control-label">Inv เครดิต <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="company.inv_credit" formControlName="inv_credit" 
                                    [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.inv_credit.errors }">
                                    <div *ngIf="submitted_edit &amp;&amp; editForm.controls.inv_credit.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.inv_credit.errors.required">โปรดระบุ Inv เครดิต</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" formControlName="id" [(ngModel)]="company.id" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rounded btn-success" (click)="updateCompany(editForm.value)">บันทึก</button>
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Edit sub company modal-->

    <!-- Delete sub company modal-->
    <div class="modal" id="modal-subcompany-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body center remove-modal-bg-content">
                        <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                        <span class="warnnig-remove-text">
                            คุณต้องการลบบริษัทรายการนี้
                        </span>
                    </div>
                    <div class="modal-footer center">
                            <button type="button" class="btn btn-rounded btn-danger" (click)="deleteProcess(currentCompanyId)">ยืนยัน</button>&nbsp;
                            <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End delete sub company modal-->