<div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">ตั้งค่าโครงการ</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ตั้งค่าโครงการ</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex no-block justify-content-end align-items-center">
                    <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-project-add"><i
                            class="fa fa-plus"></i> เพิ่มโครงการ</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-cover-table">
                        <div class="row">
                            <div class="col-9">
                                รายการตั้งค่าข้อมูลโครงการ
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="project_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th style="width: 20%;">ชื่อโครงการ</th>
                                        <th style="width: 20%;">เอกสารโครงการ</th>
                                        <th style="width: 45%;">หมายเหตุ</th>
                                        <th style="width: 10%;" class="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of projectList; index as i">
                                        <td style="width: 5%;" class="center">{{i+1}}</td>
                                        <td style="width: 20%;" class="left">
                                            <span style="color:rgb(57, 57, 57)">
                                                {{item?.project_name}}
                                            </span>
                                        </td>
                                        <td style="width: 20%;" class="left">
                                            <div *ngIf="item?.url">
                                                <a href="{{item?.url}}" target="_blank">{{item?.name_origin}}</a>
                                            </div>
                                        </td>
                                        <td style="width: 45%;" class="left">
                                            <div [innerHtml]="item?.conditions" 
                                            style="white-space: pre-wrap;color:rgb(57, 57, 57);"></div>
                                        </td>
                                        <!--<td style="width: 20%;" class="left">
                                            <div [innerHtml]="item?.benefit" 
                                            style="white-space: pre-wrap;color: rgb(57, 57, 57);"></div>
                                        </td>-->
                                        <td style="width: 10%;" class="center">
                                            <i class="fas fa-edit btn-edit" (click)="editProject(item.id)"></i>&nbsp;
                                            <i class="fas fa-trash-alt btn-remove" (click)="deleteProject(item.id)"></i>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Add modal-->
    <div class="modal" id="modal-project-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-add">
                        <h4 class="modal-title" id="exampleModalLabel1">เพิ่มตั้งค่าข้อมูลโครงการ</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addForm">
                            <div class="form-group">
                                <label for="project_name" class="control-label">ชื่อโครงการ <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="project_name" formControlName="project_name" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.project_name.errors }">
                                <div *ngIf="submitted_add && addForm.controls.project_name.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.project_name.errors.required">โปรดระบุชื่อโครงการ</div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label>ชื่อเอกสาร</label>
                                        <input type="text" class="form-control" placeholder="ชื่อเอกสาร" formControlName="nameFile">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label>เลือกไฟล์เอกสาร</label>
                                        <input type="file" class="form-control" (change)="selectFile($event)" />
                                    </div>
                                </div>
                            </div>  
                            <!--<div class="form-group">
                                <label for="unit-name" class="control-label">สิทธิประโยชน์</label>
                                <textarea class="form-control" rows="10" formControlName="benefit"></textarea>
                            </div>-->
                            <div class="form-group">
                                <label for="unit-name" class="control-label">หมายเหตุ</label>
                                <textarea class="form-control" rows="10" formControlName="conditions"></textarea>
                                <!--<input type="text" class="form-control" id="description-add" formControlName="description">-->
                            </div> 
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-success" (click)="addProject(addForm.value)">บันทึก</button>
                        <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Add modal-->
    
    <!--Edit modal-->
    <div class="modal" id="modal-project-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal-header-edit">
                            <h4 class="modal-title" id="exampleModalLabel1">แก้ไขข้อมูลข้อมูลโครงการ</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="editForm">
                                <div class="form-group">
                                    <label for="project_name" class="control-label">ชื่อโครงการ <span class="star-required">*</span></label>
                                    <input type="text" class="form-control" id="project_name" formControlName="project_name" [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; editForm.controls.project_name.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.project_name.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.project_name.errors.required">โปรดระบุชื่อโครงการ</div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>ชื่อเอกสาร</label>
                                            <input type="text" class="form-control" placeholder="ชื่อเอกสาร" formControlName="nameFile">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4"> 
                                        <div class="form-group">
                                            <label>เลือกไฟล์เอกสาร</label>
                                            <input type="file" class="form-control" (change)="selectFile($event)" />
                                        </div>
                                    </div> 
                                    <div class="col-sm-4 col-md-4 pt-4">
                                        <br />
                                        <a href="{{project?.url}}" target="_blank">Download เอกสารโครงการ</a>
                                    </div>
                                </div> 
                                <!--<div class="form-group">
                                    <label for="unit-name" class="control-label">สิทธิประโยชน์</label>
                                    <textarea class="form-control" rows="10" formControlName="benefit"></textarea>
                                </div>-->
                                <div class="form-group">
                                    <label for="unit-name" class="control-label">หมายเหตุ</label>
                                    <textarea class="form-control" rows="10" formControlName="conditions"></textarea>
                                    <!--<input type="text" class="form-control" id="description-add" formControlName="description">-->
                                </div> 
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-rounded btn-success" (click)="updateProject(editForm.value)">บันทึก</button>
                            <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
        </div>
        <!-- End Edit modal-->
    
    
        <div class="modal" id="modal-project-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body center remove-modal-bg-content">
                            <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                            <span class="warnnig-remove-text">
                                คุณต้องการลบข้อมูลโครงการรายการนี้
                            </span>
                        </div>
                        <div class="modal-footer center">
                                <button type="button" class="btn btn-rounded btn-danger" (click)="deleteProcess(currentProjectId)">ยืนยัน</button>&nbsp;
                                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Edit modal-->