<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">รูปแบบสัญญา (Audit)</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">รูปแบบสัญญา (Audit)</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
  </div>
  <br />
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header card-header-cover-table">
                      <div class="row">
                          <div class="col-9">
                            รูปแบบสัญญา (Audit)
                          </div>
                          <div class="col-3">
                               
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="addForm" id="add-form">
                    <div class="row">
                        <div class="col-md-12">
                            <ckeditor 
                                formControlName="detail" 
                                [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' , 'bulletedList' , 'numberedList' , '|' , 'indent' , 'outdent' , '|' , 'undo' , 'redo' ] }" 
                                [editor]="Editor" 
                                (change)="onChangeDetail($event)" >
                            </ckeditor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 6px;">
                            <a (click)="addTag('name')" type="button" class="btn btn-rounded btn-success" href="javascript:void(0)" style="color: #FFFFFF;"><i class="fa fa-plus"></i> เพิ่มชื่อ-นามสกุล</a>
                            <a (click)="addTag('mobile')" type="button" class="btn btn-rounded btn-success" href="javascript:void(0)" style="color: #FFFFFF;"><i class="fa fa-plus"></i> เพิ่มเบอร์โทรศัพท์</a>
                            <a (click)="addTag('identity_no')" type="button" class="btn btn-rounded btn-success" href="javascript:void(0)" style="color: #FFFFFF;"><i class="fa fa-plus"></i> เพิ่มบัตรประชาชน</a>
                            <a (click)="addTag('address_detail')" type="button" class="btn btn-rounded btn-success" href="javascript:void(0)" style="color: #FFFFFF;"><i class="fa fa-plus"></i> เพิ่มที่อยู่</a>
                        </div>
                    </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="submit(addForm.value)">บันทึก</button>
                    <button type="button" class="btn btn-light" (click)="preView()">ตัวอย่าง</button>
                </div>
              </div>
          </div>
      </div>
  </div>

