<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">ค่าแรง / โอที (Audit)</h4>
          <div class="d-flex align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page">ค่าแรง / โอที (Audit)</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
               
          </div>
      </div>
  </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหาข้อมูลลูกค้า
                        </div>
                        <div class="col-3">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <label for="stock-category">ข้อมูล</label>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="input" class="form-control" placeholder="ระบุลูกค้า(บริษัท/บุคคล)หรือเบอร์โทรหรือแฟกซ์หรืออีเมล์ที่ต้องการค้นหา...">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label for="stock-category">ที่อยู่</label>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="addressDetail" class="form-control" placeholder="ระบุข้อมูลที่อยู่ที่ต้องการค้นหา...">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button type="button" class="btn btn-rounded btn-info" style="margin-top: 13%;" (click)="searchCustomer()">
                                <i class="fa fa-search"></i> ค้นหา</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header card-header-cover-table">
                รายชื่อลูกค้า
              </div>
              <div class="card-body">
                  <div class="table-responsive"> 
                      <table id="customer_table" class="table table-striped table-bordered">
                          <thead>
                              <tr>
                                <th style="width: 25%;">ข้อมูลบริษัท (สำนักงานใหญ่)</th>
                                <th style="width: 25%;">ที่อยู่/เบอร์โทร/อีเมล์</th>
                                <th style="width: 20%;">ข้อมูลสาขา</th>
                                <th style="width: 25%;">ที่อยู่/เบอร์โทร/อีเมล์</th>
                                <th style="width: 10%;"></th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of customerList; index as i">
                                <td style="width: 25%;">
                                    {{item.customer_company_name}}
                                </td>
                                <td style="width: 25%;">
                                    {{item.customer_company_address_detail}}<br>
                                    <small style="color: gray;">
                                        <b>เบอร์โทร&nbsp;:&nbsp;{{item.customer_company_mobile}}</b>
									</small><br>
                                    <small style="color: gray;">
                                        <b>อีเมล์&nbsp;:&nbsp;{{item.customer_company_email}}</b>
									</small>
                                </td>
                                <td style="width: 20%;">
                                    {{item.name}}
                                </td>
                                <td style="width: 25%;">
                                    {{item.address_detail}}<br>
                                    <small style="color: gray;">
                                        <b>เบอร์โทร&nbsp;:&nbsp;{{item.mobile}}</b>
									</small><br>
                                    <small style="color: gray;">
                                        <b>อีเมล์&nbsp;:&nbsp;{{item.email}}</b>
									</small>
                                </td>
                                <td style="width: 10%;">
                                    <a href="/#/setting/customer-audit/manage/{{item.id}}" target="_blank"><i class="fas fa-search btn-view"></i></a>&nbsp;
                                </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

 