<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">ระเบียบพนักงาน</h4>
          <div class="d-flex align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page">ระเบียบพนักงาน</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <a type="button" class="btn btn-rounded btn-success" href="#employee/add" style="color: #FFFFFF;" *ngIf="permissionPage.p_insert"><i class="fa fa-plus"></i> เพิ่มข้อมูลพนักงาน</a>
          </div>
      </div>
  </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหาข้อมูลพนักงาน
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <label for="stock-category">ชื่อ/นามสกุล</label>
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="input" placeholder="ระบุชื่อ/นามสกุลพนักงานที่ต้องการค้นหา..." >
                            </div>
                        </div>
                        <!-- <div class="col-sm-12 col-md-2">
                            <label for="stock-category">นามสกุล</label>
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="ระบุนามสกุลพนักงานที่ต้องการค้นหา..." >
                            </div>
                        </div> -->
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group m-b-30">
                                <label for="stock-category">บริษัท</label>
                                <select class="form-control" [(ngModel)]="companyId" (change)="getDepartmentByCompanyId($event.target.value)" >
                                    <option value="">--- แสดงบริษัททั้งหมด  ---</option>
                                    <option *ngFor="let item of companyList" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group m-b-30">
                                <label for="stock-category">แผนก</label>
                                <select class="form-control" [(ngModel)]="departmentId" (change)="getPositionByDepartmentId($event.target.value)">
                                    <option value="">--- แสดงแผนกทั้งหมด  ---</option>
                                    <option *ngFor="let item of departmentList" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group m-b-30">
                                <label for="stock-category">ตำแหน่ง</label>
                                <select class="form-control" [(ngModel)]="positionId">
                                    <option value="">--- แสดงทุกตำแหน่ง  ---</option>
                                    <option *ngFor="let item of positionList" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <fieldset class="form-group m-b-30">
                                <label for="name">เลือกวันที่จบอบรม</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control" [(ngModel)]="startWork" [disabled]="!isShowStartWork"
                                    daterangepicker [options]="optionsDate" (selected)="selectedStartWork($event, daterange)">
                                    <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="showStartWork()">
                                        <i *ngIf="!isShowStartWork" class="fa fa-calendar"></i>
                                        <i *ngIf="isShowStartWork" class="fa fa-ban"></i>
                                    </span>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group m-b-30">
                                <label for="stock-category">ช่วงอายุ</label>
                                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group m-b-30">
                                <button type="button" (click)="searchAllEmployee()" class="btn btn-rounded btn-light" style="margin-top: 13%;margin-right: 2px;"><i class="fa fa-search"></i> ค้นหา</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header card-header-cover-table">
                <div class="row">
                    <div class="col-5">
                        รายชื่อพนักงาน
                    </div>
                    <div class="col-7" style="text-align: right;">
                        <span class="text-grey pull-right">
                            <i class="fas fa-sign-in-alt btn-view"></i> กลับเข้าทำงาน |
                            <i class="fas fa-sign-out-alt btn-remove"></i> ลาออก |
                            <i class="fas fa-clock btn-edit"></i> รอจบอบรม |
                            <i class="fas fa-exclamation-triangle btn-remove"></i> ไม่ผ่านอบรม |
                            <i class="fas fa-search btn-view"></i> ดูข้อมูล |
                            <i class="fas fa-edit btn-edit"></i> แก้ไขข้อมูล |
                            <i class="fas fa-trash-alt btn-remove"></i> ลบข้อมูล
                        </span>
                    </div>
                </div>
            </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <button *ngIf="isToggleButtonLoadExcel" type="button" class="btn btn-success" (click)="exportInspectionAll()">
                        <i class="fas fa-file-excel" ></i> โหลดเอกสารใบประเมิน
                    </button>
                    <h4 *ngIf="!isToggleButtonLoadExcel" style="color: orangered;">เลือกข้อมูลพนักงานเพื่อโหลดเอกสารใบประเมิน</h4>
                    
                    <div class="row">
                        <div class="col-sm-12 col-md-4"></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control input-search" (keyup)="applyFilter($event.target.value)" placeholder="พิมพ์เพื่อค้นหาข้อมูล">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4" style="text-align: right;">
                            <button type="button" (click)="exportExcel()" class="btn btn-primary" style="margin-top: 5%">
                                <i class="fa fa-file-excel"></i> Export</button>
                        </div>
                    </div>
                      
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="no">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> 
                            <!-- <input type="checkbox" (change)="selectEmployeeAll($event)">  -->
                          </th>
                          <td mat-cell *matCellDef="let element"> 
                            <input type="checkbox" (change)="selectEmployee(element)" [checked]="element.checked"> 
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="code">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> รหัสพนักงาน </th>
                          <td mat-cell *matCellDef="let element"> <a href="#employee/view/{{element.id}}" target="_blank" style="color:#04bd9c">{{element.code}}</a> </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="identity_no">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> รหัสบัตรประชาชน </th>
                          <td mat-cell *matCellDef="let element"> {{element.identity_no}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="name_full">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ชื่อ-นามสกุล </th>
                            <td mat-cell *matCellDef="let element">
                                <a href="#employee/view/{{element.id}}" target="_blank" style="font-size: 15px;font-weight: normal;">
                                    {{element.first_name}}&nbsp; {{element.last_name}}&nbsp;
                                </a>
                                <span *ngIf="element.nick_name != null && element.nick_name !='-'">({{element.nick_name}})</span>&nbsp;
                                <span *ngIf="element.reasonLeaveWorkCount > 1" style="color:#d35b30;" >(สมัครรอบ {{element.reasonLeaveWorkCount}})</span>&nbsp;
                                <span *ngIf="element.reason != null" style="color:#d35b30;" >{{element.reason}}</span>
                            </td>
                          </ng-container>

                        <ng-container matColumnDef="age_th">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> อายุ </th>
                          <td mat-cell *matCellDef="let element"> {{element.age_th}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="companyName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> บริษัท </th>
                            <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                          </ng-container>

                        <ng-container matColumnDef="departmentName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> แผนก </th>
                          <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="positionName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ตำแหน่ง </th>
                          <td mat-cell *matCellDef="let element"> {{element.positionName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mobile">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> เบอร์โทร </th>
                          <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                        </ng-container>

                        <ng-container matColumnDef="start_work">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> วันที่จบการอบรม </th>
                          <td mat-cell *matCellDef="let element"> {{element.start_work}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> สถานะ </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span *ngIf="element.status == 'P'" style="color: orange;">รอจบอบรม </span>
                            <span *ngIf="element.status == 'O'" style="color: red;">ลาออก </span>
                            <span *ngIf="element.status == 'A'" style="color: green;">ปกติ </span>
                            <span *ngIf="element.status == 'N'" style="color: red;">ไม่ผ่านอบรม </span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header">  </th>
                          <td mat-cell *matCellDef="let element">
                            <a *ngIf="isHr && (element.status == 'O' || element.status == 'P')" href="/#/employee/edit/{{element.id}}-{{element.status}}" target="_blank"><i class="fas fa-sign-in-alt btn-view"></i>&nbsp;&nbsp;</a>
                            <a *ngIf="isHr && element.status == 'A'" href="/#/employee/edit/{{element.id}}-{{element.status}}" target="_blank"><i class="fas fa-sign-out-alt btn-remove"></i>&nbsp;&nbsp;</a>
                            <i *ngIf="isHr && (element.status == 'O' || element.status == 'N')" class="fas fa-clock btn-edit" (click)="waitingTraining(element.id)">&nbsp;&nbsp;</i>
                            <i *ngIf="isHr && element.status == 'P' " class="fas fa-exclamation-triangle btn-remove" (click)="notTrained(element.id)">&nbsp;&nbsp;</i>
                            <a href="/#/employee/view/{{element.id}}" target="_blank"><i class="fas fa-search btn-view"></i></a>&nbsp;
                            <a *ngIf="isHr || isFinance" href="/#/employee/edit/{{element.id}}" target="_blank"><i class="fas fa-edit btn-edit"></i></a>&nbsp;
                            <i *ngIf="isHr" class="fas fa-trash-alt btn-remove" (click)="delete(element.id)"></i>&nbsp;
                            <!--<a href="/#/employee/work-history/{{element.id}}" target="_blank"><i class="fas fa-tasks btn-edit" ></i></a>-->
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      
                      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                      

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Start Modal Delete -->
<div class="modal" id="modal-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center remove-modal-bg-content">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องการลบพนักงานนี้
                </span>
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-danger" (click)="deleteProcess(currentId)">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Delete -->

<!-- Start Modal BadHistory -->
<div class="modal" id="modal-bad-history" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-edit">
                <h4 class="modal-title" id="exampleModalLabel1">ประวัติด้านไม่ดี</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" *ngFor="let item of badHistoryList; index as i" >
                    <div class="panel-group col-sm-12 col-md-12">
                    <fieldset class="border p-2">
                        <legend  class="w-auto legend-header" style="text-align: left;color: #1ab196;"> {{item.description}}</legend>
                        <div class="row" style="padding-left: 2px;padding-right: 2px;">
                            <div class="card col-sm-12 col-md-12">
                                <div class="card-header">รายการหลักฐาน</div>
                                <div class="table-responsive">
                                    <table id="company_table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;" class="center">ลำดับ</th>
                                                <th style="width: 40%;">ชื่อไฟล์</th>
                                                <th style="width: 10%;">วันที่อัพโหลดไฟล์</th>
                                                <th style="width: 10%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of item.fileInfoMap | keyvalue; index as i">
                                                <td style="width: 10%;" class="center">{{i+1}}</td>
                                                <td style="width: 40%;" class="left">{{item.value.name_origin}}</td>
                                                <td style="width: 10%;" class="left">{{item.value.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td style="width: 10%;" class="center">
                                                    <a type="button" class="btn btn-rounded btn-info" title="โหลดเอกสาร" target="_blank" href="{{ item.value.url }}">
                                                        <i class="fa fas fa-download"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <!-- basic-pagination -->
                                        <basic-pagination [itemStart]="itemStart" 
                                            [itemEnd]="itemEnd"
                                            [page]="page" 
                                            [count]="count"
                                            (pageOutPut)="handlePageChange($event)" 
                                            (pageSizeOutPut)="handlePageSizeChange($event)">
                                        </basic-pagination>
                                    <!-- basic-pagination -->
                            </div>
                        </div>
                    </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal BadHistory -->

<!-- Delete sub company modal-->
<div class="modal" id="modal-employee-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center remove-modal-bg-content">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องการลบพนังานรายการนี้
                </span>
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-rounded btn-danger" (click)="deleteProcess(currentId)">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End delete sub company modal-->

<!-- waitingTraining modal-->
<div class="modal" id="modal-waiting-training" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center modal-header-edit">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องการปรับสถานะรอจบอบรมรายการนี้
                </span>
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-rounded btn-warning" (click)="waitingTrainingProcess(currentId)">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End waitingTraining modal-->

<!-- Delete sub company modal-->
<div class="modal" id="modal-not-trained" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center remove-modal-bg-content">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องการปรับสถานะไม่ผ่านอบรมรายการนี้
                </span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="col-sm-12 col-md-12">
                                  <div class="form-group">
                                      <label>เหตุผลที่ไม่ผ่านอบรม <span class="star-required">*</span></label>
                                      <textarea class="form-control" id="reason" rows="3" [(ngModel)]="reasonNotTrained" 
                                      [ngClass]="{ 'is-invalid': invalidReasonNotTrained }"></textarea>
                                      <div *ngIf="invalidReasonNotTrained" class="text-danger">
                                        <div>โปรดระบุเหตุผลที่ไม่ผ่านอบรม</div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-rounded btn-danger" (click)="notTrainedProcess(currentId)">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End delete sub company modal-->