<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">ลงเวลาทำงาน รปภ. (พาร์ทไทม์)</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ลงเวลาทำงาน รปภ. (พาร์ทไทม์)</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-center">
             
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ลงเวลาทำงาน รปภ. (พาร์ทไทม์)
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="addForm" id="add-form">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group m-b-30">
                                    <label for="stock-category">วันที่ทำงาน</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" name="daterangeInput" 
                                        formControlName="checkpoin_date" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)">
                                        <span class="input-group-addon input-group-text"><i class="icon-calender"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group m-b-30">
                                    <label for="customer_id">หน่วยงานลูกค้า</label>
                                    <select class="form-control" formControlName="customer_id" 
                                    [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.customer_id.errors }">
                                        <option value="">--- กรุณาเลือก ---</option>
                                        <option *ngFor="let item of customerList" value="{{item.id}}">({{item.code}}) {{item.name}}</option>
                                    </select>
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.customer_id.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.customer_id.errors.required">โปรดระบุหน่วยงานลูกค้า</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group m-b-30">
                                    <label for="employee_id">รปภ. (พาร์ทไทม์)</label>
                                    <select class="form-control" formControlName="employee_id" 
                                    [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.employee_id.errors }">
                                        <option value="">--- กรุณาเลือก ---</option>
                                        <option *ngFor="let item of guardPasttimeList" value="{{item.id}}">({{item.code}}) {{item.first_name}} {{item.last_name}}</option>
                                    </select>
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.employee_id.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.employee_id.errors.required">โปรดระบุ รปภ. (พาร์ทไทม์)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <button type="button" class="btn btn-rounded btn-info" style="margin-top: 10%;" (click)="addCheckPoint(addForm.value)"><i class="fa fa-plus"></i> ลงเวลา</button>
                                </div>
                            </div> 
                        </div>
                    </form>
                    <hr />  
                </div>
            </div>
        </div>
    </div>
 
    <div class="row" *ngFor="let item of checkPointList">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9" style="font-style: italic;">
                            ({{item.customer.code}})&nbsp;{{item.customer.name}}
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                     <div class="row" style="border-bottom: 1px solid #dbdbdb;" *ngFor="let employee of item.customer.employee">
                        <div class="col-3">{{employee.workDate}}</div>
                        <div class="col-3">
                            <span>
                                ({{employee.code}})&nbsp;{{employee.first_name}} {{employee.last_name}}
                            </span>
                        </div>
                        <div class="col-6">
                            <div class="row" style="padding: 2px;" *ngFor="let checkPointType of employee.checkPointType">
                                <div class="col-12">
                                    {{checkPointType.type}}
                                    <span *ngIf="checkPointType.type == 'D'">
                                        <span class="badge badge-pill badge-success" style="font-size: 14px">รอบกลางวัน</span>
                                        &nbsp;<i class="fas fa-trash-alt btn-remove" (click)="deletePosition(item.id)"></i>
                                    </span>
                                    <span *ngIf="checkPointType.type == 'N'">
                                        <span class="badge badge-pill badge-danger" style="font-size: 14px">รอบกลางคืน</span>
                                        &nbsp;<i class="fas fa-trash-alt btn-remove" (click)="deletePosition(item.id)"></i>
                                    </span>  
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-12" style="text-align: center;">
           <button type="button" class="btn btn-rounded btn-success" style="margin-top: 0.5%;" (click)="saveCheckPoint()"><i class="fa fa-save"></i> บันทึกเวลาทำงาน รปภ. (พาร์ทไทม์)</button>
        </div>
    </div>
</div>  