<div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">สิทธิประโยชน์โครงการ</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">สิทธิประโยชน์โครงการ</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex no-block justify-content-end align-items-center">
                    <!--<button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-department-add"><i
                            class="fa fa-plus"></i> เพิ่มโครงการ</button>-->
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-cover-table">
                        <div class="row">
                            <div class="col-9">
                                รายการสิทธิประโยชน์โครงการ
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="department_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th style="width: 10%;">หน่วยงาน</th>
                                        <th style="width: 10%;">ค่าแรง</th>
                                        <th style="width: 10%;">ค่าบริการ/นาย</th>
                                        <th style="width: 10%;">ประเภทสวัสดิการ</th>
                                        <th style="width: 25%;">เงื่อนไขการจ่าย</th>
                                        <th style="width: 10%;">จำนวน รปภ. ที่ได้รับสิทธิ์</th>
                                        <th style="width: 10%;">จำนวนเงิน (บาท)</th>
                                        <th style="width: 10%;">ผู้จ่าย</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 5%;" class="center">1</td>
                                        <td style="width: 10%;" class="left">บริษัท ไทยปาร์คเกอร์ไรซิ่ง จำกัด (ระยอง)</td>
                                        <td style="width: 10%;" class="left">500</td>
                                        <td style="width: 10%;" class="left">22,600.00</td>
                                        <td style="width: 10%;" class="left">เบี้ยขยัน 1,500 บาท/เดือน</td>
                                        <td style="width: 25%;" class="left">
                                            โครงการ 7<br />
                                            1. จ่ายในสลิปงวดปลายเดือน<br />
                                            2. รปภ. ทำงานทุกวัน <br />
                                            3. แต่งกายถูกต้อง อุปกรณ์ครบ <br />
                                        </td>
                                        <td style="width: 10%;" class="left"></td>
                                        <td style="width: 10%;" class="left"></td>
                                        <td style="width: 10%;" class="left">การเงิน</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 5%;" class="center">2</td>
                                        <td style="width: 10%;" class="left">บริษัท บางกอกเอวิเอชั่นเซ็นเตอร์ จำกัด (โคราช)</td>
                                        <td style="width: 10%;" class="left">500</td>
                                        <td style="width: 10%;" class="left">22,600.00</td>
                                        <td style="width: 10%;" class="left">เบี้ยขยัน 1,500 บาท/เดือน</td>
                                        <td style="width: 25%;" class="left">
                                            โครงการ 7<br />
                                            1. จ่ายในสลิปงวดปลายเดือน<br />
                                            2. รปภ. ทำงานทุกวัน <br />
                                            3. แต่งกายถูกต้อง อุปกรณ์ครบ <br />
                                        </td>
                                        <td style="width: 10%;" class="left"></td>
                                        <td style="width: 10%;" class="left"></td>
                                        <td style="width: 10%;" class="left">การเงิน</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 5%;" class="center">3</td>
                                        <td style="width: 10%;" class="left">บริษัท อินโนเฟรช จำกัด</td>
                                        <td style="width: 10%;" class="left">500</td>
                                        <td style="width: 10%;" class="left">22,600.00</td>
                                        <td style="width: 10%;" class="left">เบี้ยขยัน 1,500 บาท/เดือน</td>
                                        <td style="width: 25%;" class="left">
                                            โครงการ 7<br />
                                            1. จ่ายในสลิปงวดปลายเดือน<br />
                                            2. รปภ. ทำงานทุกวัน <br />
                                            3. แต่งกายถูกต้อง อุปกรณ์ครบ <br />
                                        </td>
                                        <td style="width: 10%;" class="left"></td>
                                        <td style="width: 10%;" class="left"></td>
                                        <td style="width: 10%;" class="left">การเงิน</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 