<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">หมวดหมู่คลังสินค้า</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">หมวดหมู่คลังสินค้า</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-center"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            รายการหมวดหมู่คลังสินค้า
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-productCategory-add"><i
                                        class="fa fa-plus"></i> เพิ่มข้อมูลหมวดหมู่คลังสินค้า</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="product_category_table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" class="center">ลำดับ</th>
                                    <th style="width: 20%;">รหัส</th>
                                    <th style="width: 20%;">ชื่อหมวดหมู่</th>
                                    <th style="width: 45%;" left="center">คำอธิบาย</th>
                                    <th style="width: 10%;" class="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of productCategoryList; index as i">
                                    <td style="width: 5%;" class="center">{{i+1}}</td>
                                    <td style="width: 20%;">{{item.code}}</td>
                                    <td style="width: 20%;">{{item.name}}</td>
                                    <td style="width: 45%;">{{item.description}}</td>
                                    <td style="width: 10%;" class="center">
                                        <i class="fas fa-edit btn-edit" (click)="editProductCategory(item.id)"></i>&nbsp;
                                        <i class="fas fa-trash-alt btn-remove" (click)="deleteProductCategory(item.id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!--Add modal-->
<div class="modal" id="modal-productCategory-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลหมวดหมู่คลังสินค้า</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm">
                    <div class="form-group">
                        <label for="unit-name" class="control-label">ชื่อหมวดหมู่คลังสินค้า <span class="star-required">*</span></label>
                        <input type="text" class="form-control" id="product-category-name" formControlName="name" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.name.errors }">
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.name.errors" class="text-danger">
                            <div *ngIf="addForm.controls.name.errors.required">โปรดระบุชื่อหมวดหมู่คลังสินค้า</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="unit-name" class="control-label">คำอธิบาย</label>
                        <input type="text" class="form-control" id="product-category-description" formControlName="description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="addProductCategory(addForm.value)">บันทึก</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal-->

<div class="modal" id="modal-productCategory-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-edit">
                    <h4 class="modal-title" id="exampleModalLabel1">แก้ไขข้อมูลหมวดหมู่คลังสินค้า</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <form [formGroup]="editForm">
                            <div class="form-group">
                                <label for="product-category-code" class="control-label">รหัส</label>
                                <input type="text" class="form-control" id="product-category-code" formControlName="code" disabled>
                            </div>
                            <div class="form-group">
                                <label for="product-category-name" class="control-label">ชื่อหมวดหมู่คลังสินค้า <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="product-category-name" formControlName="name" 
                                [ngClass]="{ 'is-invalid': submitted_edit &amp;&amp; editForm.controls.name.errors }">
                                <div *ngIf="submitted_edit &amp;&amp; editForm.controls.name.errors" class="text-danger">
                                    <div *ngIf="editForm.controls.name.errors.required">โปรดระบุชื่อหมวดหมู่คลังสินค้า</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-category-description" class="control-label">คำอธิบาย</label>
                                <input type="text" class="form-control" id="product-category-description" formControlName="description">
                            </div>
                            <input type="hidden" formControlName="id"> 
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rounded btn-success" (click)="updateProductCategory(editForm.value)">บันทึก</button>
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
</div>
<!-- End Edit modal-->

<!-- Remove modal-->
<div class="modal" id="modal-product-category-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center remove-modal-bg-content">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องการลบข้อมูลหมวดหมู่สินค้านี้
                </span>
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-rounded btn-danger" (click)="deleteProcess()">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Remove modal-->