<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">ลงเวลาทำงาน รปภ.</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ลงเวลาทำงาน รปภ.</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
            
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="!hidePage">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            จัดตารางงาน รปภ.
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm" id="add-form">
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="holiday-year-search">เดือน</label>
                                    <select class="form-control" formControlName="month" (change)="monthChanged()">
                                        <option value="1">มกราคม</option>
                                        <option value="2">กุมภาพันธ์</option>
                                        <option value="3">มีนาคม</option>
                                        <option value="4">เมษายน</option>
                                        <option value="5">พฤษภาคม</option>
                                        <option value="6">มิถุนายน</option>
                                        <option value="7">กรกฎาคม</option>
                                        <option value="8">สิงหาคม</option>
                                        <option value="9">กันยายน</option>
                                        <option value="10">ตุลาคม</option>
                                        <option value="11">พฤศจิกายน</option>
                                        <option value="12">ธันวาคม</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="holiday-year-search">ปี พ.ศ.</label>
                                    <select class="form-control" formControlName="year">
                                        <option *ngFor="let item of yearList" value="{{item?.enYear}}">{{item?.thYear}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group m-b-30">
                                    <label for="customer_id">หน่วยงานลูกค้า</label>
                                    <!--<select class="form-control" formControlName="customerId">
                                        <option value="">--- กรุณาเลือก ---</option>
                                        <option *ngFor="let item of customerList" value="{{item.id}}">({{item.code}}) {{item.name}}</option>
                                    </select>-->
                                    <mat-select [formControl]="custCtrl" placeholder="" #singleSelect
                                    (selectionChange)="filterestCustomerChaned($event)">
                                        <mat-option>
                                          <ngx-mat-select-search [formControl]="custFilterCtrl" ngDefaultControl></ngx-mat-select-search>
                                        </mat-option>
                                  
                                        <mat-option *ngFor="let cust of filteredCust | async" [value]="cust">
                                          {{cust.name}}
                                        </mat-option>
                                      </mat-select>
                                </div>
                                <br />
                                <span style="color: red;font-size: 22px;font-weight: bold;">!!! ก่อนเปลี่ยนหน่วยงานกรุณากดบันทึกข้อมูลเพื่อป้องกันข้อมูลสูญหาย !!!</span>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <button type="button" class="btn btn-rounded btn-info"  
                                    style="margin-top: 15%;" (click)="searchCheckPoint(searchForm.value)"><i class="fa fa-search"></i> ค้นหา</button>
                                </div>
                            </div> 
                        </div>
                    </form>
                    <hr />  
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6" style="text-align: left;">
            &nbsp;&nbsp;
            <i class="fa fa-square" aria-hidden="true" style="color: #003171;"></i><span> ทำงานปกติ(D), ช่วย(D), เสริม(D), ควง(D), ควง(จ่ายสด D)</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-square" aria-hidden="true" style="color: #F62459;"></i><span> ทำงานปกติ(N), ช่วย(N), เสริม(N), ควง(N), ควง(จ่ายสด N)</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-square" aria-hidden="true" style="color: #F3C13A;"></i><span> พาร์สทาม</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-square" aria-hidden="true" style="color: #16A085;"></i><span> ลาพักร้อน, ลาพักร้อนทำงาน, นักขัตฤกษ์</span>&nbsp;&nbsp;&nbsp;&nbsp;<br />
            &nbsp;&nbsp;
            <i class="fa fa-square" aria-hidden="true" style="color: #BDC3C7;"></i><span> อาทิตย์(จ่ายสด), ลากิจ, OFF, ขาด</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-6" style="text-align: right;">
            <button type="button" class="btn btn-rounded btn-primary" (click)="dialogSelectCustomer()">
                <i class="fa fa-plus"></i> เพิ่มหน่วยงาน
            </button>&nbsp;
            <button type="button" 
            [disabled]="disabledSave"
            class="btn btn-rounded btn-success" (click)="preSaveCheckPoint(addForm.value,1)">
                <i class="fa fa-save"></i> บันทึกการเปลี่ยนแปลง
            </button>
        </div>
    </div>
    <div class="row" *ngIf="tisToken.id == 2404">
        <div class="col-6" style="text-align: left;">
            <button type="button" 
            [disabled]="disabledSave"
            class="btn btn-rounded btn-danger" (click)="preSaveCheckPoint(addForm.value,2)">
                <i class="fa fa-save"></i> บันทึกลับ (โดยเจ้าหมวย)
            </button>
        </div>
    </div>
    <br /> 
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="padding:0px !important">
                    <div class="tscroll">
                        <table class="table table-striped table-bordered">
                            <thead style="background: #54a0ff;">
                                <tr>
                                    <th class="tb-main-col-checkpoint">หน่วยงาน/พนักงาน</th>
                                    <ng-container *ngFor="let item of dayList;let i = index">
                                        <th class="tb-main-col-checkpoint" style="font-weight: bold;">{{item}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of checkPointModel.customerList;let i = index">
                                    <ng-container *ngIf="customerSearchId == item.customerId">
                                    <tr style="background: #c7dce7;">
                                        <td class="tb-main-col-checkpoint" style="font-weight: bold;">
                                            {{item.customerName}} <br />
                                            <input type="button" value="ลบ" (click)="removeCust(i)" *ngIf="tisToken.id == 2404" />
                                            <button type="button" class="btn btn-rounded btn-info" 
                                            (click)="dialogSelectEmployee(item.customerId)">
                                                <i class="fas fa-user-plus"></i> เพิ่ม รปภ.</button>
                                        </td>
                                        <td colspan="31">
                                            <div style="font-weight: bold;font-size: 30px;">หน่วยงาน : {{item.customerName}}</div>
                                            <div class="row" style="width: 60%;">
                                                <div class="col-6" *ngFor="let itemPosition of item.customerCreditLimit;let countPoistion = index">
                                                    <div class="row">
                                                        <div class="col-3 sub-col-table">
                                                            {{itemPosition.data_value}}&nbsp;
                                                            <span *ngIf="itemPosition.moment == 'D'">กลางวัน</span>
                                                            <span *ngIf="itemPosition.moment == 'N'">กลางคืน</span>
                                                        </div>
                                                        <div class="col-1 sub-col-table" style="text-align: center;">
                                                            {{itemPosition.quantity}}
                                                        </div>
                                                        <div class="col-2 sub-col-table-detail" style="text-align: center;">คน</div>
                                                        <div class="col-2 sub-col-table-detail" style="text-align: center;">ค่าแรง</div>
                                                        <div class="col-2 sub-col-table" style="text-align: center;">
                                                            {{itemPosition.wage}}
                                                        </div>
                                                        <div class="col-2 sub-col-table-detail" style="text-align: center;">บาท</div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </td>
                                        <!--<td colspan="15"></td>-->
                                    </tr>
                                    <ng-container *ngFor="let employee of item.employeeList;let countEmpDay = index">
                                    <tr>
                                        <td>
                                            <a class="fas fa-trash" style="color: red;cursor: pointer;" (click)="removeEmployee(employee.employeeId,item.customerId)"></a><br />
                                           <!-- <span style="font-weight: bold;font-size: 20px;color: #1661c3;">หน่วยงาน : {{item.customerName}}</span>
                                            <br /> -->
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" 
                                                id="15inlineCheckboxDAll{{employee.employeeId}}-{{countEmpDay}}" value="D" 
                                                (change)="trigCheckBoxWorkAll(15,'D','W',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxDAll{{employee.employeeId}}-{{countEmpDay}}">D15</label>
                                                &nbsp;
                                                <input class="form-check-input" type="checkbox" 
                                                id="30inlineCheckboxDAll{{employee.employeeId}}-{{countEmpDay}}" value="D" 
                                                (change)="trigCheckBoxWorkAll(30,'D','W',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxDAll{{employee.employeeId}}-{{countEmpDay}}">D30</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" 
                                                id="15inlineCheckboxNAll{{employee.employeeId}}-{{countEmpDay}}" value="N" 
                                                (change)="trigCheckBoxWorkAll(15,'N','W',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxNAll{{employee.employeeId}}-{{countEmpDay}}">N15</label>
                                                &nbsp;
                                                <input class="form-check-input" type="checkbox" 
                                                id="30inlineCheckboxNAll{{employee.employeeId}}-{{countEmpDay}}" value="N" 
                                                (change)="trigCheckBoxWorkAll(30,'N','W',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxNAll{{employee.employeeId}}-{{countEmpDay}}">N30</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" 
                                                id="15inlineCheckboxPasttimeDAll{{employee.employeeId}}-{{countEmpDay}}" value="D" 
                                                (change)="trigCheckBoxWorkAll(15,'D','PA',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxPasttimeDAll{{employee.employeeId}}-{{countEmpDay}}">PD15</label>
                                                &nbsp;
                                                <input class="form-check-input" type="checkbox" 
                                                id="30inlineCheckboxPasttimeDAll{{employee.employeeId}}-{{countEmpDay}}" value="D" 
                                                (change)="trigCheckBoxWorkAll(30,'D','PA',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxPasttimeDAll{{employee.employeeId}}-{{countEmpDay}}">PD30</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" 
                                                id="15inlineCheckboxPasttimeNAll{{employee.employeeId}}-{{countEmpDay}}" value="N" 
                                                (change)="trigCheckBoxWorkAll(15,'N','PA',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxPasttimeNAll{{employee.employeeId}}-{{countEmpDay}}">PN15</label>
                                                &nbsp;
                                                <input class="form-check-input" type="checkbox" 
                                                id="30inlineCheckboxPasttimeNAll{{employee.employeeId}}-{{countEmpDay}}" value="N" 
                                                (change)="trigCheckBoxWorkAll(30,'N','PA',employee.employeeId,item.customerId,$event)">
                                                <label class="form-check-label" for="inlineCheckboxPasttimeNAll{{employee.employeeId}}-{{countEmpDay}}">PN30</label>
                                            </div>
                                            <br />
                                            <span style="font-weight: bold;font-size: 18px;">{{employee.firstName}}&nbsp;{{employee.lastName}}</span>
                                            <input type="text" class="form-control" [(ngModel)]="employee.firstName"/>
                                            <input type="text" class="form-control" [(ngModel)]="employee.lastName"/>
                                            &nbsp;
                                            <span style="font-weight: bold;font-size: 18px;">({{employee.tel}}) ({{getPositionNameByEmployee(employee.employeeId)}})</span>
                                            <br />
                                            <select class="form-control" id="position{{employee.employeeId}}-{{countWork}}"
                                                [(ngModel)]="employee.position" 
                                                (change)="positionChanged($event.target.value,countWork,employee.employeeId,item.customerId)"
                                                style="width: 140px;">
                                                    <option value="0">ตำแหน่งงาน</option>
                                                    <option *ngFor="let itemPosition of item.positionGroupList" value="{{itemPosition.code}}">{{itemPosition.data_value}}</option>
                                                </select>
                                                <br />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="button" class="btn btn-rounded btn-success" (click)="addOption(employee.employeeId,item.customerId)">
                                                            <i class="fa fa-plus"></i> เพิ่มรายได้อื่นๆ
                                                        </button>
                                                    </div>
                                                </div>
                                                <br />
                                        </td>
                                        <ng-container *ngFor="let work of employee.workList;let countWork = index">
                                            <td style="text-align: center;">
                                                <span style="background: #55a0ff;color: #ffffff;padding: 3px;">{{countWork+1}}</span>
                                                <select class="form-control" id="status{{employee.employeeId}}-{{countWork}}"
                                                [(ngModel)]="work.status"
                                                (change)="statusChanged($event.target.value,countWork,employee.employeeId,item.customerId)"
                                                [ngClass]="{
                                                    'status-blue' : work.status=='SL',
                                                    'status-grey' : work.status=='L' || work.status=='S' || work.status=='OF' || work.status=='OFP' || work.status=='M',
                                                    'status-green' : work.status=='AL' || work.status=='ALW' || work.status=='H',
                                                    'status-dark-blue' : ((work.status=='W' && work.day) || (work.status=='A' && work.day) || (work.status=='AA' && work.day) || (work.status=='HE' && work.day) 
                                                    || (work.status=='AAD' && work.day) || (work.status=='AAN' && work.day) || (work.status=='AADN' && work.day)),
                                                    'status-red' : ((work.status=='W' && work.nigth) || (work.status=='A' && work.nigth)|| (work.status=='AA' && work.nigth) || (work.status=='HE' && work.nigth) 
                                                    || (work.status=='AAD' && work.nigth) || (work.status=='AAN' && work.nigth) || (work.status=='AADN' && work.nigth)),
                                                    'bg-workdn' : ((work.status=='W' && work.day && work.nigth) || (work.status=='A' && work.day && work.nigth) || (work.status=='AA' && work.day && work.nigth) || (work.status=='HE' && work.day && work.nigth) 
                                                    || (work.status=='AADN' && work.day && work.nigth) || (work.status=='AAD' && work.day && work.nigth) || (work.status=='AAN' && work.day && work.nigth)),
                                                    'status-past-time' : work.status=='PA'
                                                    }">
                                                    <option value="W">ปกติ</option>
                                                    <option value="HE">ช่วย</option>
                                                    <option value="PA">พาร์สทาม</option>
                                                    <option value="A">เสริม </option>
                                                    <option value="AA">ควง </option>
                                                    <option value="AAD">ควง(จ่ายสด D) </option>
                                                    <option value="AAN">ควง(จ่ายสด N) </option>
                                                    <option value="AADN">ควง(จ่ายสด DN) </option>
                                                    <option value="H">นักขัตฤกษ์</option>
                                                    <option value="S">อาทิตย์(จ่ายสด)</option>
                                                    <option value="SL">ลาป่วย</option>
                                                    <option value="AL">ลาพักร้อน</option>
                                                    <option value="ALW">ลาพักร้อนทำงาน</option>
                                                    <option value="L">ลากิจ</option>
                                                    <option value="OF">OFF</option>
                                                    <option value="OFP">OFF(จ่ายสด)</option>
                                                    <option value="M">ขาด</option>
                                                </select>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" 
                                                    id="inlineCheckboxD{{employee.employeeId}}-{{countWork}}" value="D" 
                                                    (change)="trigCheckBoxWork('D',countWork,employee.employeeId,item.customerId)"
                                                    [checked]="work.day">
                                                    <label class="form-check-label" for="inlineCheckboxD{{employee.employeeId}}-{{countWork}}">D</label>
                                                </div>
                                                <span style="color: red;" *ngIf="work.day && work.in_late == 1"><br />เข้า {{work.checkin_date}}</span>
                                                <span style="color: red;" *ngIf="work.day && work.out_late == 1"><br />ออก {{work.checkin_date}}</span>
                                                <input type="number" class="form-control" [(ngModel)]="work.waged" 
                                                style="width: 60px;" id="txtWageD{{employee.employeeId}}-{{countWork}}">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" 
                                                    id="inlineCheckboxN{{employee.employeeId}}-{{countWork}}" value="N"
                                                    (change)="trigCheckBoxWork('N',countWork,employee.employeeId,item.customerId)"
                                                    [checked]="work.nigth">
                                                    <label class="form-check-label" for="inlineCheckboxN{{employee.employeeId}}-{{countWork}}">N</label>
                                                </div>
                                                <span style="color: orange;" *ngIf="work.nigth && work.in_late == 1"><br />เข้า {{work.checkin_date}}</span>
                                                <span style="color: orange;" *ngIf="work.nigth && work.out_late == 1"><br />ออก {{work.checkin_date}}</span>
                                                <input type="number" class="form-control" [(ngModel)]="work.wagen" 
                                                style="width: 60px;" id="txtWageN{{employee.employeeId}}-{{countWork}}">
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngFor="let optionItem of employee.optionList;let countOption = index">
                                        <td>
                                            <div class="row">
                                                <div class="col-8">
                                                    <select class="form-control" 
                                                    style="width: 330px;"
                                                    id="selectOptionItemMain-{{item.customerId}}-{{employee.employeeId}}-{{countOption}}"
                                                    [(ngModel)]="optionItem.code">
                                                    <option *ngFor="let optionSelectItem of optionList;let countOptionSelectItem = index" 
                                                    value="{{optionSelectItem.code}}">{{optionSelectItem.data_value}}</option>
                                                </select>
                                                    <!--<input type="text" class="form-control" [(ngModel)]="optionItem.name" 
                                                    style="width: 400px;" id="txtoptionItemMain-{{item.customerId}}-{{employee.employeeId}}-{{countOption}}">-->
                                                </div>
                                                <div class="col-4">
                                                    <input type="number" class="form-control" [(ngModel)]="optionItem.wage" 
                                                    style="width: 60px;background-color: #f0f7ff;" id="txtoptionWageMain-{{item.customerId}}-{{employee.employeeId}}-{{countOption}}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12" style="text-align:right">
                                                    <a class="fas fa-trash" style="color: red;cursor: pointer;" 
                                                    (click)="removeOption(countOption,employee.employeeId,item.customerId)"></a>&nbsp;
                                                    <button type="button" class="btn btn-rounded btn-warning" 
                                                    (click)="setWageOptionChanged(countOption,employee.employeeId,item.customerId)">
                                                        SET
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <ng-container *ngFor="let optionItemWage of optionItem.list;let countOptionItem = index">
                                            <td>
                                                <input type="number" class="form-control" [(ngModel)]="optionItemWage.wage" 
                                                (keyup)="calculateTotalGuard(employee.employeeId,item.customerId)"
                                                style="width: 60px;" id="txtOptionItemWage-{{item.customerId}}-{{employee.employeeId}}-{{countOption}}-{{countOptionItem}}">
                                            </td>
                                        </ng-container>
                                    </tr>

                                    <tr>
                                        <td style="background-color: #bcdaff;">
                                            <span style="font-weight: bold;">สรุปรายได้รายวัน</span>
                                        </td>
                                        <ng-container *ngFor="let workSummary of employee.workList;let countWork2 = index">
                                            <td style="background-color: #bcdaff;">
                                                <span>{{workSummary.total}}</span>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    </ng-container> 
                                    <tr>
                                        <td style="background-color: #55a0ff;font-weight: bold;">สรุปหน่วยงาน</td>
                                        <ng-container *ngFor="let custSummary of item.summaryList;let countCust = index">
                                            <td 
                                            [ngClass]="{
                                                'status-cust-success' : custSummary.status=='S',
                                                'status-cust-warning' : custSummary.status=='' || custSummary.status=='W'
                                                }">
                                                <span><span style="font-weight: bold;">D :</span> {{custSummary.countD}}</span><br />
                                                <span><span style="font-weight: bold;">N :</span> {{custSummary.countN}}</span><br />
                                                <span><span style="font-weight: bold;">รวม :</span> {{custSummary.countTotal}}</span>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    </ng-container>
                                </ng-container> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>  


<!-- Start Modal Check Point Add Customer -->
<div class="modal" id="modal-checkpoint-customer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">หน่วยงาน</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="table-responsive">
                            <table id="check-point-customer" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th style="width: 20%;">ชื่อหน่วยงาน</th>
                                        <th style="width: 15%;">เบอร์โทรศัพท์</th>
                                        <th>ที่อยู่</th>
                                        <th style="width: 10%;" class="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of customerList;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{customer.name}}</td>
                                        <td>{{customer.mobile}}</td>
                                        <td>{{customer.address_detail}}</td>
                                        <td>
                                            <button type="button" class="btn btn-rounded btn-info" (click)="addCustomerToCheckPoint(customer.id)">
                                                เลือก
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- Start Modal Check Point Add Customer -->

<!-- Start Modal Check Point Add Employee -->
<div class="modal" id="modal-checkpoint-employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">พนักงาน/รปภ.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="table-responsive">
                            <table id="check-point-employee" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th>ชื่อ-นามสกุล</th>
                                        <th style="width: 15%;">เลขบัตรประชาชน</th>
                                        <th style="width: 15%;">เบอร์โทรศัพท์</th>
                                        <th style="width: 10%;" class="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let employee of employeeList;let i = index">
                                        <td style="width: 5%;" class="center">{{i+1}}</td>
                                        <td>({{employee.code}}) &nbsp;{{employee.first_name}} {{employee.last_name}}</td>
                                        <td style="width: 15%;">{{employee.identity_no}}</td>
                                        <td style="width: 15%;">{{employee.mobile}}</td>
                                        <td style="width: 10%;" class="center">
                                            <button type="button" class="btn btn-rounded btn-info" (click)="addEmployeeToCheckPoint(employee.id)">
                                                เลือก
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- Start Modal Check Point Add Employee -->


<!-- Start Modal Check Point Verify Password -->
<div class="modal" id="modal-checkpoint-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: red;color: #ffffff;">
                <h4 class="modal-title" id="exampleModalLabel1">รหัสผ่านหมดอายุ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <input type="text" class="form-control" [(ngModel)]="cppass" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" data-dismiss="modal" (click)="verifyPass()">Verify</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Check Point Verify Password -->