<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">สรุปตารางงาน</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">สรุปตารางงาน</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
            <a type="button" class="btn btn-rounded btn-success" href="#timesheet/manage/{{tisToken?.id}}" target="_blank"><i
                class="fa fa-plus"></i> ลงเวลาทำงาน</a>
        </div>
</div>
<div class="container-fluid"> 

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหารายการสรุปตารางงาน
                        </div>
                        <div class="col-3">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="pick_date" class="control-label">วันที่ลงเวลา </label>
                                    <div class="input-group date"> 
                                        <input type="text" 
                                        style="background-color: rgb(255, 255, 255);"
                                        name="daterangeInput" daterangepicker [options]="optionleDate" (selected)="selectedDate($event, daterange)"
                                        class="form-control">
                                    </div>
                                    <!--<div *ngIf="submitted_add &amp;&amp; addForm.controls.pick_date.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.pick_date.errors.required">โปรดระบุ วันที่โอนจ่ายเงิน</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="month" class="control-label">แผนก </label>
                                    <select class="form-control" formControlName="department_id">
                                        <option value="">ทั้งหมด</option>
                                        <option *ngFor="let item of departmentList; index as i" value="{{item.id}}">
                                            {{item?.name}}
                                        </option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="month" class="control-label">ตำแหน่ง </label>
                                    <select class="form-control" formControlName="position_id">
                                        <option value="">ทั้งหมด</option>
                                        <option *ngFor="let item of positionList; index as i" value="{{item.id}}">
                                            {{item?.name}}
                                        </option>
                                    </select> 
                                </div>
                            </div>
                            <!--<div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="total_installment" class="control-label">คำค้น <span></span></label>
                                    <input type="text" class="form-control" id="value1" placeholder="ชื่อ-นามสกุล,บัตรประชาชน,เบอร์โทร"
                                    formControlName="value1">
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" style="text-align: center;">
                                <br />
                                <button class="btn btn-rounded btn-info" (click)="search()"> <i
                                    class="fa fa-search"></i> ค้นหา</button>
                            </div>
                        </div> 

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-7">
                            ตารางรายการลงเวลาทำงาน
                        </div>
                        <div class="col-5" style="text-align: right;">
                            
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_summary_timesheet" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;"  class="center">ลำดับ</th>
                                    <th style="width: 25%;" class="center">ชื่อ-นามสกุล</th>
                                    <th style="width: 20%;" class="center">แผนก</th>
                                    <th style="width: 15%;" class="center">ตำแหน่ง</th>
                                    <th style="width: 20%;" class="center">จำนวนวันลงเวลา</th>
                                    <th style="width: 15%;" class="center"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataList; index as i">
                                    <td style="width: 5%;" class="center">
                                        {{i+1}}
                                    </td>
                                    <td style="width: 25%;" class="left">
                                        <span style="font-weight: bold;color:rgb(53, 120, 244)">{{item.code}}</span>&nbsp;&nbsp;
                                        {{item.prefix}}{{item.first_name}} &nbsp; {{item.last_name}}
                                        <span *ngIf="item.nick_name">&nbsp;({{item.nick_name}})</span>
                                    </td> 
                                    <td style="width: 20%;" class="left">
                                        {{item.departmentName}}
                                    </td>
                                    <td style="width: 15%;" class="left">
                                        {{item.positionName}}
                                    </td>
                                    <td style="width: 20%;" class="center">
                                        <span *ngIf="item.count_timesheet_n > 0" 
                                            style="font-weight: bold;cursor: pointer;color: rgb(53, 120, 244);font-size: 20px;">
                                            {{item.count_timesheet_n}}
                                        </span>
                                        <span *ngIf="item.count_timesheet_n <= 0" style="cursor: pointer;color: rgb(52, 52, 54);">
                                            {{item.count_timesheet_n}}
                                        </span>
                                        <span style="cursor: pointer;color: rgb(52, 52, 54);">
                                            /{{diffDay}}
                                        </span>
                                    </td>
                                    <td style="width: 15%;" class="center">
                                        <a href="#/timesheet/manage/{{item.id}}" target="_blank">
                                            <i class="fas fa-search btn-view"></i>
                                        </a>  
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> 
 

<!--Add modal-->
<div class="modal" id="modal-timesheet-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลผู้เบิก</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="employee_data_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%;" class="center">ลำดับ</th>
                                <th style="width: 25%;">รหัสพนักงาน</th>
                                <th style="width: 25%;">รหัสบัตรประจำตัวประชาชน</th>
                                <th style="width: 30%;">ชื่อ-นามสกุล</th>
                                <th style="width: 15%;" class="center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" 
                                        (change)="trigedEmpAll($event)"
                                        >
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of employeeList; index as i">
                                <td style="width: 5%;" class="center">{{i+1}}</td>
                                <td style="width: 25%;">{{item.code}}</td>
                                <td style="width: 25%;">{{item.identity_no}}</td>
                                <td style="width: 30%;">{{item.prefix}}{{item.first_name}}&nbsp;{{item.last_name}}</td>
                                <td style="width: 15%;" class="center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="{{item.id}}" 
                                        value="{{item.id}}"
                                        (change)="trigedEmp(item)"
                                        [checked]="isCheckAll"
                                        >
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="addEmployeeSelect()">ตกลง</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal-->

<!--Add modal-->
<div class="modal" id="modal-advmoney-emp-upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">Upload รายชื่อผู้เบิก</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                 <input type="file" (change)="onFileChange($event)"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="uploadExcel()">ตกลง</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal-->