<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">เบิกล่วงหน้า</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">เบิกล่วงหน้า</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
            <a class="btn btn-rounded btn-success" href="#/setting/advmoneyAll" target="_blank"><i
                class="fa fa-plus"></i> เพิ่มรายการเบิก (มากกว่า 1 รายการ)</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!--<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหาข้อมูลเบิกล่วงหน้า
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-masterData-add"><i
                                        class="fa fa-plus"></i> เพิ่มรายการเบิก</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group m-b-30">
                                    <label for="master-data-category-search">หมวดหมู่</label>
                                    <select class="form-control" formControlName="category">
                                        <option value="">--- ทั้งหมด ---</option>
                                        <option *ngFor="let item of masterDataCategory" value="{{item.category}}">{{item.category}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                <button type="button" class="btn btn-rounded btn-info" style="margin-top: 3.5%;" (click)="search(searchForm.value)"><i class="fa fa-search"></i> ค้นหา</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            รายชื่อพนักงานที่ทำรายการเบิก
                        </div>
                        <div class="col-3">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="employee_data_table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" class="center">ลำดับ</th>
                                    <th style="width: 25%;">รหัสพนักงาน</th>
                                    <th style="width: 25%;">รหัสบัตรประจำตัวประชาชน</th>
                                    <th style="width: 30%;">ชื่อ-นามสกุล</th>
                                    <th style="width: 15%;" class="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of employeeList; index as i">
                                    <td style="width: 5%;" class="center">{{i+1}}</td>
                                    <td style="width: 25%;">{{item.code}}</td>
                                    <td style="width: 25%;">{{item.identity_no}}</td>
                                    <td style="width: 30%;">{{item.prefix}}{{item.first_name}}&nbsp;{{item.last_name}}</td>
                                    <td style="width: 15%;" class="center">
                                        <a href="#/setting/advmoney/manage/{{item.id}}" target="_blank">
                                            <i class="fas fa-search btn-view"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!--Add modal-->
<div class="modal" id="modal-masterData-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลพื้นฐาน</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm">
                    <div class="form-group">
                        <label for="category" class="control-label">หมวดหมู่ <span class="star-required">*</span></label>
                        <input type="text" class="form-control" id="category" formControlName="category" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.category.errors }">
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.category.errors" class="text-danger">
                            <div *ngIf="addForm.controls.category.errors.required">โปรดระบุหมวดหมู่</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="control-label">รหัส <span class="star-required">*</span></label>
                        <input type="text" class="form-control" id="code" formControlName="code" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.code.errors }">
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.code.errors" class="text-danger">
                            <div *ngIf="addForm.controls.code.errors.required">โปรดระบุรหัส</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="data_value" class="control-label">ข้อมูล <span class="star-required">*</span></label>
                        <input type="text" class="form-control" id="data_value" formControlName="data_value" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.data_value.errors }">
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.data_value.errors" class="text-danger">
                            <div *ngIf="addForm.controls.data_value.errors.required">โปรดระบุข้อมูล</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">รายละเอียด</label>
                        <input type="text" class="form-control" id="description" formControlName="description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="addMasterData(addForm.value)">บันทึก</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal-->