<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">ตั้งค่าวันลา</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ตั้งค่าวันลา</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-center" style="text-align: right;">
            <button type="button" class="btn btn-rounded btn-success" (click)="save()"><i
                class="fa fa-save"></i> บันทึก</button>
        </div>
    </div>
</div>
<div class="container-fluid">
<form [formGroup]="addForm">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            <h5>ลากิจ</h5>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <span style="font-weight: bold;">จำนวน / ปี</span><br />
                            <input type="text" class="form-control" id="leaveWorkWork" formControlName="leaveWorkWork" 
                                        [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.leaveWorkWork.errors }">
                        </div>
                        <div class="col-6">
                            <span style="font-weight: bold;">รูปแบบ</span><br />
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="leaveWorkWorkTypeW" name="leaveWorkWorkType" formControlName="leaveWorkWorkType" value="W">
                                    <label class="custom-control-label" for="leaveWorkWorkTypeW">นับปีทำงาน</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="leaveWorkWorkTypeY" name="leaveWorkWorkType" formControlName="leaveWorkWorkType" value="Y">
                                    <label class="custom-control-label" for="leaveWorkWorkTypeY">ปีชนปี</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            <h5>ลาป่วย</h5>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <span style="font-weight: bold;">จำนวน / ปี</span><br />
                            <input type="text" class="form-control" id="sickLeave" formControlName="sickLeave" 
                                        [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.sickLeave.errors }">
                        </div>
                        <div class="col-6">
                            <span style="font-weight: bold;">รูปแบบ</span><br />
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="sickLeaveTypeW" name="sickLeaveType" formControlName="sickLeaveType" value="W">
                                    <label class="custom-control-label" for="sickLeaveTypeW">นับปีทำงาน</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="sickLeaveTypeY" name="sickLeaveType" formControlName="sickLeaveType" value="Y">
                                    <label class="custom-control-label" for="sickLeaveTypeY">ปีชนปี</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            <h5>ลาพักร้อน</h5>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <span style="font-weight: bold;">จำนวน / ปี</span><br />
                            <input type="text" class="form-control" id="vacationLeave" formControlName="vacationLeave" 
                                        [ngClass]="{ 'is-invalid': submitted_add &amp;&amp; addForm.controls.vacationLeave.errors }">
                        </div>
                        <div class="col-6">
                            <span style="font-weight: bold;">รูปแบบ</span><br />
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="vacationLeaveTypeW" name="vacationLeaveType" formControlName="vacationLeaveType" value="W">
                                    <label class="custom-control-label" for="vacationLeaveTypeW">นับปีทำงาน</label>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="vacationLeaveTypeY" name="vacationLeaveType" formControlName="vacationLeaveType" value="Y">
                                    <label class="custom-control-label" for="vacationLeaveTypeY">ปีชนปี</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</form>
</div> 
 