<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">หัวข้อที่ตรวจสอบ / ประเมิน</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">หัวข้อที่ตรวจสอบ / ประเมิน</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
  </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            หัวข้อที่ตรวจสอบ / ประเมิน
                        </div>
                        <div class="col-3">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>1.1</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>1.2</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>1.3</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>1.4</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>1.5</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>1.6</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>1.7</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection7">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.1</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection8">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.2</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection9">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.3</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.4</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection11">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.5</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.6</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection13">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.7</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection14">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.8</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection15">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>2.9</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection16">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.1</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection17">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.2</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection18">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.3</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection19">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.4</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection20">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.5</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection21">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.6</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection22">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.7</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection23">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>3.8</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection24">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label>4.1</label>
                                        <input type="text" class="form-control" [(ngModel)]="inspection25">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <button type="button" class="btn btn-rounded btn-success" (click)="saveEmployee(addForm.value)">บันทึก</button>
        <button type="button" class="btn btn-rounded btn-dark" (click)="backPage()">กลับ</button>
    </div>
</div>


<!-- Start Modal Upload -->
<div class="modal" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-edit">
                <h4 class="modal-title" id="exampleModalLabel1">อัพโหลดไฟล์</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                  <div *ngFor="let progressInfo of progressInfos" class="col-sm-12 col-md-12" style="margin-bottom: 10px;">
                                      <span>{{ progressInfo.fileName }}</span>
                                      <div class="progress" style="height: 40%;">
                                          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                              attr.aria-valuenow="{{ progressInfo.value }}"
                                              aria-valuemin="0"
                                              aria-valuemax="100"
                                              [ngStyle]="{ width: progressInfo.value + '%' }">
                                              {{ progressInfo.value }}%
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-12 col-md-3">
                                      <div class="form-group">
                                          <label>ชื่อเอกสาร</label>
                                          <input type="text" class="form-control" placeholder="ชื่อเอกสาร" [(ngModel)]="nameFile">
                                      </div>
                                  </div>
                                  <div class="col-sm-12 col-md-5">
                                      <div class="form-group">
                                          <label>เลือกไฟล์เอกสาร</label>
                                          <input type="file" class="form-control" multiple (change)="selectFiles($event)" />
                                      </div>
                                  </div>
                                  <div class="col-sm-12 col-md-2">
                                      <button class="btn btn-success" [disabled]="!selectedFiles" style="margin-top: 28px;" (click)="uploadFiles()">
                                          อัพโหลดไฟล์
                                      </button>
                                  </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Upload -->

<!-- Start Modal Edit Remark -->
<div class="modal" id="modal-edit-remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-edit">
                <h4 class="modal-title" id="exampleModalLabel1">แก้ไขหมายเหตุ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <textarea rows="5" class="form-control" placeholder="รายละเอียดเหตุเพิ่มเติม" [(ngModel)]="remarkEdit"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="updateRemark()">แก้ไข</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Upload -->


<!-- Start Modal Recommender -->
<div class="modal" id="modal-recommender" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">ผู้แนะนำ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-4">
                        <div class="form-group">
                            <label>ประเภทผู้แนะนำ</label>
                            <select class="form-control" (change)="selectRecommenderType($event.target.value)">
                                <option value="" [selected]="true">--- เลือกประเภทผู้แนะนำ ---</option>
                                <option value="SG">รปภ.</option>
                                <option value="IF">พนักงานภายใน</option>
                                <option value="OS">บุคคลภายนอก</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="table-responsive">
                            <table id="recommender_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th style="width: 20%;">ชื่อ-นามสกุล</th>
                                        <th style="width: 15%;">เลขบัตรประชาชน</th>
                                        <th style="width: 15%;">เบอร์โทรศัพท์</th>
                                        <th style="width: 35%;">ที่อยู่</th>
                                        <th style="width: 10%;" class="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of recommenderList; index as i">
                                        <td style="width: 5%;" class="center">{{i+1}}</td>
                                        <td style="width: 20%;" class="left">{{item.prefix}}{{item.first_name}} {{item.last_name}}</td>
                                        <td style="width: 15%;" class="left">{{item.identity_no}}</td>
                                        <td style="width: 15%;" class="left">{{item.mobile}}</td>
                                        <td style="width: 35%;" class="left">{{item.address_detail}}</td>
                                        <td style="width: 10%;" class="center">
                                            <button type="button" class="btn btn-rounded btn-success" (click)="selectRecommender(item)">เลือก</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Recommender -->