<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
  <div class="row" style="margin-top: 10px">
      <div class="col-5 align-self-center">
          <h4 class="page-title">รายการหุ้นลอย</h4>
          <div class="d-flex align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page">รายการหุ้นลอย</li>
                  </ol>
              </nav>
          </div>
      </div>
      
  </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mt-2">
                    <!-- col -->
                    <div class="col-md-6 col-sm-12 col-lg-3">
                        <div class="d-flex align-items-center">
                            <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-star-circle"></i></span></div>
                            <div><span class="text-muted">จำนวนหุ้นลอย</span>
                                <h3 class="font-medium mb-0">{{numberShares | number : '1.0-2'}}</h3></div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-md-6 col-sm-12 col-lg-3">
                        <div class="d-flex align-items-center">
                            <div class="mr-2"><span class="text-primary display-5"><i class="mdi mdi-wallet"></i></span></div>
                            <div><span class="text-muted">มูลค่าหุ้นลอยทั้งหมด</span>
                                <h3 class="font-medium mb-0">{{sumTotalShareValue | number : '1.2-2'}}</h3></div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-md-6 col-sm-12 col-lg-3">
                        <div class="d-flex align-items-center">
                            <div class="mr-2"><span class="text-success display-5"><i class="mdi mdi-wallet"></i></span></div>
                            <div><span class="text-muted">มูลค่าหุ้นลอยที่ได้รับแล้ว</span>
                                <h3 class="font-medium mb-0">{{sumReceived | number : '1.2-2'}}</h3></div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-md-6 col-sm-12 col-lg-3">
                        <div class="d-flex align-items-center">
                            <div class="mr-2"><span class="text-orange display-5"><i class="mdi mdi-wallet"></i></span></div>
                            <div><span class="text-muted">มูลค่าหุ้นลอยที่ยังไม่ได้รับ</span>
                                <h3 class="font-medium mb-0">{{sumNotReceived | number : '1.2-2'}}</h3></div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหาข้อมูลหุ้นลอย
                        </div>
                        <div class="col-3">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <label for="stock-category">ชื่อ-นามสกุลผู้แนะนำ</label>
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="recommenderName" placeholder="ระบุชื่อ-นามสกุลผู้แนะนำที่ต้องการค้นหา..." >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <label for="stock-category">ชื่อ-นามสกุลพนักงาน</label>
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="ระบุชื่อ-นามสกุลพนักงานที่ต้องการค้นหา..." >
                            </div>
                        </div>
                        <div *ngIf="isAdmin" class="col-sm-12 col-md-2">
                            <label for="stock-category">ประเภทผู้แนะนำ</label>
                            <div class="form-group">
                                <select class="form-control" [(ngModel)]="recommenderType">
                                    <option value="" >--- ประเภทผู้แนะนำทั้งหมด ---</option>
                                    <option value="outsider" >บุคคลภายนอก</option>
                                    <option value="insider" >พนักงานภายใน</option>
                                    <option value="security" >รปภ</option>
                                    <option value="maid" >แม่บ้าน</option>
                                </select> 
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group m-b-30">
                                <label for="stock-category">เดือน</label>
                                <div class="input-group date">
                                    <select class="form-control" [(ngModel)]="month" [ngModelOptions]="{standalone: true}" [disabled]="!isShowYearMonth" >
                                        <option *ngFor="let item of monthList" value="{{item.key}}">{{item.description}}</option>
                                    </select>
                                    <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="showYearMonth()">
                                        <i *ngIf="!isShowYearMonth" class="fa fa-calendar"></i>
                                        <i *ngIf="isShowYearMonth" class="fa fa-ban"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group m-b-30">
                                <label for="stock-category">ปี</label>
                                <div class="input-group date">
                                    <select class="form-control" [(ngModel)]="year" [ngModelOptions]="{standalone: true}" [disabled]="!isShowYearMonth" >
                                        <option *ngFor="let item of yearNewList" value="{{item.en}}">{{item.th}}</option>
                                    </select>
                                    <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="showYearMonth()">
                                        <i *ngIf="!isShowYearMonth" class="fa fa-calendar"></i>
                                        <i *ngIf="isShowYearMonth" class="fa fa-ban"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5"></div>
                        <div class="col-sm-12 col-md-2">
                            <button type="button" (click)="searchAllShare()" class="btn btn-rounded btn-light" style="margin-top: 13%;"><i class="fa fa-search"></i> ค้นหา</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header card-header-cover-table">
                รายการหุ้นลอย
                <button type="button" (click)="updateShare()" class="btn btn-rounded btn-warning" style="float: right;"> อัปเดตหุ้นลอย</button>
                <button type="button" (click)="openModalExport()" class="btn btn-rounded btn-info" style="float: right;"> โหลดเอกสาร</button>
              </div>
              <div class="card-body">
                  <div class="table-responsive">

                    <div class="row">
                        <div class="col-sm-12 col-md-4"></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control input-search" (keyup)="applyFilter($event.target.value)" placeholder="พิมพ์เพื่อค้นหาข้อมูล">
                            </div>
                        </div>
                    </div>

                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="no">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ลำดับ </th>
                          <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="code">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> รหัส </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="input-group date" style="width: 80%">
                                <input type="text" class="form-control" [disabled]="!element.isEdit" [(ngModel)]="element.code" >
                                <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="showEditOrUpdate(element)">
                                    <i *ngIf="!element.isEdit" class="fa fa-edit" style="color: orange;"></i>
                                    <i *ngIf="element.isEdit" class="fa fa-check" style="color: green;"></i>
                                </span>
                            </div>
                          </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="recommender_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ชื่อ-นามสกุลผู้แนะนำ </th>
                            <td mat-cell *matCellDef="let element"> {{element.recommender_name}} </td>
                          </ng-container>

                        <ng-container matColumnDef="recommender_type">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ประเภทผู้แนะนำ </th>
                          <td mat-cell *matCellDef="let element"> {{element.recommender_type}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="employee_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ชื่อ-นามสกุลพนักงาน </th>
                            <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
                          </ng-container>

                        <ng-container matColumnDef="start_date">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> ระยะเวลา </th>
                          <td mat-cell *matCellDef="let element"> <span *ngIf="element.start_date != null && element.end_date != null ">{{element.start_date}} ถึง {{element.end_date}}</span> </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity_months_payment">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> จำนวน </th>
                          <td mat-cell *matCellDef="let element"> {{element.quantity_months_payment}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> มูลค่าหุ้นลอย </th>
                          <td mat-cell *matCellDef="let element"> {{element.amount | number : '1.2-2'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header"> สถานะหุ้น </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span *ngIf="element.status == 'inactive' " style="color: red;">ยกเลิก </span>
                            <span *ngIf="element.status == 'active' " style="color: blue;">ปกติ </span>
                            <span *ngIf="element.status == 'payment' " style="color: orange;">เริ่มการจ่ายแล้ว </span>
                            <span *ngIf="element.status == 'finish' " style="color: green;">เสร็จสิน </span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="green-header">  </th>
                          <td mat-cell *matCellDef="let element"> 
                            <a href="javascript:void(0)" (click)="openModalShare(element.id)" ><i class="fas fa-search btn-view"></i></a>&nbsp;
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      
                      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Start Modal share -->
<div class="modal" id="modal-share-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">รายละเอียดหุ้นลอย</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left: 2px;padding-right: 2px;">
                    <div class="card col-sm-12 col-md-12">
                        <div class="table-responsive">
                            <table id="share_item_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;" class="center">ลำดับ</th>
                                        <th style="width: 20%;">มูลค่าหุ้น</th>
                                        <th style="width: 20%;">งวดวันที่</th>
                                        <th style="width: 20%;">วันที่ชำระ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of shareItemList; index as i">
                                        <td style="width: 10%;" class="center">{{item.seq}}</td>
                                        <td style="width: 20%;" class="left">{{item.amount}}</td>
                                        <td style="width: 20%;" class="left">{{item.period_date}}</td>
                                        <td style="width: 20%;" class="left">{{item.payment_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal share -->


<!-- Start Modal share -->
<div class="modal" id="modal-share-export" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form>
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">เลือกเงื่อนไข</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="stock-category">พนักงาน</label>
                        <ng-multiselect-dropdown 
                        [placeholder]="'เลือก พนักงาน'"
                        [settings]="dropdownSettings"
                        [data]="employeeList"
                        [(ngModel)]="selectedItems"
                        [ngModelOptions]="{standalone: true}"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="onDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="stock-category">บุคคลภายนอก</label>
                        <ng-multiselect-dropdown 
                        [placeholder]="'เลือก บุคคลภายนอก'"
                        [settings]="dropdownOutsiderSettings"
                        [data]="outsiderList"
                        [(ngModel)]="selectedOutsiderItems"
                        [ngModelOptions]="{standalone: true}"
                        (onSelect)="onOutsiderItemSelect($event)"
                        (onSelectAll)="onOutsiderItemSelectAll($event)"
                        (onDeSelect)="onOutsiderDeSelect($event)"
                        (onDeSelectAll)="onOutsiderDeSelectAll($event)"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="stock-category">เดือน</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="monthModal" [ngModelOptions]="{standalone: true}" [disabled]="!isShowYearMonthModal" >
                                <option *ngFor="let item of monthList" value="{{item.key}}">{{item.description}}</option>
                            </select>
                            <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="showYearMonthModal()">
                                <i *ngIf="!isShowYearMonthModal" class="fa fa-calendar"></i>
                                <i *ngIf="isShowYearMonthModal" class="fa fa-ban"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="stock-category">ปี</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="yearModal" [ngModelOptions]="{standalone: true}" [disabled]="!isShowYearMonthModal" >
                                <option *ngFor="let item of yearList" value="{{item.en}}">{{item.th}}</option>
                            </select>
                            <span class="input-group-addon input-group-text" style="cursor: pointer;" (click)="showYearMonthModal()">
                                <i *ngIf="!isShowYearMonthModal" class="fa fa-calendar"></i>
                                <i *ngIf="isShowYearMonthModal" class="fa fa-ban"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="stock-category">งวดวันที่</label>
                        <div class="input-group date">
                            <select class="form-control" [(ngModel)]="daysMidInMonth" [ngModelOptions]="{standalone: true}" >
                                <option value="1">1-15</option>
                                <option value="0">16-สิ้นเดือน</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="javascript: void(0)" (click)="export()">ตกลง</a>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- End Modal share -->