.text-white{
    color: #ffffff;
} 
.table-condensed>thead{
    background: #ffffff !important;
    color: #000 !important;
    font-weight: bold !important;
}

.paid-old{
    background-color: #b3ebb3;
}

.paid-new{
    background-color: rgb(65, 240, 65);
}

agm-map{
    height: 300px
}