<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">สรุป (รปภ.) เข้า-ออก งาน</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">สรุป (รปภ.) เข้า-ออก งาน</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            สรุป (รปภ.) เข้า-ออก งาน
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm" id="add-form">
                        <span style="font-size: 18px;color: blue;font-style: italic;">ค้นหาทุกหน่วยงาน</span>
                        <br />
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="holiday-year-search">เดือน</label>
                                    <select class="form-control" formControlName="month" (change)="monthChanged()">
                                        <option value="1">มกราคม</option>
                                        <option value="2">กุมภาพันธ์</option>
                                        <option value="3">มีนาคม</option>
                                        <option value="4">เมษายน</option>
                                        <option value="5">พฤษภาคม</option>
                                        <option value="6">มิถุนายน</option>
                                        <option value="7">กรกฎาคม</option>
                                        <option value="8">สิงหาคม</option>
                                        <option value="9">กันยายน</option>
                                        <option value="10">ตุลาคม</option>
                                        <option value="11">พฤศจิกายน</option>
                                        <option value="12">ธันวาคม</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="holiday-year-search">ปี พ.ศ.</label>
                                    <select class="form-control" formControlName="year">
                                        <option *ngFor="let item of yearList" value="{{item?.enYear}}">{{item?.thYear}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group m-b-30">
                                    <label for="customer_id">หน่วยงานลูกค้า</label> 
                                    <mat-select [formControl]="custCtrl" placeholder="" #singleSelect>
                                        <mat-option>
                                          <ngx-mat-select-search [formControl]="custFilterCtrl" ngDefaultControl></ngx-mat-select-search>
                                        </mat-option>
                                  
                                        <mat-option *ngFor="let cust of filteredCust | async" [value]="cust">
                                          {{cust.name}}
                                        </mat-option>
                                      </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group m-b-30" style="display: inline-flex;">
                                    <button type="button" class="btn btn-rounded btn-info"  
                                    style="margin-top: 15%;" (click)="summary(searchForm.value,1)"><i class="fa fa-search"></i> ค้นหา</button>
                                </div>
                            </div> 
                        </div> 
                    <hr style="border-top: 5px solid rgba(0, 0, 0, 0.1);" />  
                    <br />
                    <span style="font-size: 18px;color: rgb(211, 50, 6);font-style: italic;">ค้นหาเฉพาะหน่วยงานที่ลงงานไม่ครบ</span>
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group m-b-30">
                                <label for="stock-category">วันที่ทำงาน</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="daterangeInput" daterangepicker [options]="options"
                                        (selected)="selectedDate($event, daterange)">
                                    <span class="input-group-addon input-group-text"><i class="icon-calender"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group m-b-30" style="display: inline-flex;">
                                <button type="button" class="btn btn-rounded btn-primary"  
                                style="margin-top: 15%;" (click)="summary2(searchForm.value)"><i class="fa fa-search"></i> ค้นหา</button>
                            </div>
                        </div> 
                    </div>

                </form>
                </div>
            </div>
        </div>
    </div> 
    <br /> 
    <div class="row" *ngIf="isSearch">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="padding:0px !important">
                    <div class="tscroll">
                        <table class="table table-striped table-bordered">
                            <thead style="background: #5a69ab;">
                                <tr>
                                    <th class="tb-main-col-checkpoint" style="font-weight: bold;"></th>
                                    <ng-container *ngFor="let item of dayList;let i = index">
                                        <th class="tb-main-col-checkpoint" style="font-weight: bold;">{{item}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of customerSummaryList;let i = index">
                                    <ng-container *ngIf="
                                    ((customerSearchId == item.id) || !customerSearchId && item.searchType == 1) 
                                    || (item.searchType == 2 && item.isNotCompleteWorkInCurrDay)">
                                        <tr style="background: #c7dce7;">
                                            <td style="background: #c7dce7;"></td>
                                            <td colspan="31">
                                                <div style="font-weight: bold;font-size: 25px;">หน่วยงาน : {{item.name}}</div>
                                                <div class="row" style="width: 60%;">
                                                    <div class="col-6" *ngFor="let itemPosition of item.customerCreditLimit;let countPoistion = index">
                                                        <div class="row">
                                                            <div class="col-3 sub-col-table">
                                                                {{itemPosition.data_value}}&nbsp;
                                                                <span *ngIf="itemPosition.moment == 'D'">กลางวัน</span>
                                                                <span *ngIf="itemPosition.moment == 'N'">กลางคืน</span>
                                                            </div>
                                                            <div class="col-1 sub-col-table" style="text-align: center;">
                                                                {{itemPosition.quantity}}
                                                            </div>
                                                            <div class="col-2 sub-col-table-detail" style="text-align: center;">คน</div>
                                                            <div class="col-2 sub-col-table-detail" style="text-align: center;">ค่าแรง</div>
                                                            <div class="col-2 sub-col-table" style="text-align: center;">
                                                                {{itemPosition.wage}}
                                                            </div>
                                                            <div class="col-2 sub-col-table-detail" style="text-align: center;">บาท</div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="background-color: #55a0ff;font-weight: bold;">สรุปหน่วยงาน</td>
                                            <ng-container *ngFor="let summary of item.dayList;let countSum = index">
                                                <td 
                                                (click)="displayEmpWork(summary, item.id)"
                                                style="cursor: pointer;"
                                                [ngClass]="{
                                                    'status-cust-success' : summary.countWork >= item.sumOfQuantities,
                                                    'status-cust-warning' : summary.countWork < item.sumOfQuantities
                                                    }">
                                                    <span><span style="font-weight: bold;">D : {{summary.countD}}</span> </span><br />
                                                    <span><span style="font-weight: bold;">N : {{summary.countN}}</span> </span><br />
                                                    <span><span style="font-weight: bold;">รวม :</span> {{summary.countWork}}</span>
                                                </td>
                                            </ng-container>
                                        </tr>

                                    </ng-container> 
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>  
 

<div class="modal" id="modal-employee-work" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">รายชื่อ รปภ. ที่มาทำงาน</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel-group col-sm-12 col-md-12">
                        <div class="table-responsive">
                            <table id="tb-modal-employee-work" class="table table-striped table-bordered">
                                <thead style="background-color: #55a0ff;">
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th>ชื่อ-นามสกุล</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let employee of employeeWork;let i = index">
                                        <td style="width: 5%;" class="center">{{i+1}}</td>
                                        <td>{{employee.first_name}} {{employee.last_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div> 