<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">ประวัติงานหน่วยงาน</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ประวัติงานหน่วยงาน</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
            <!--<button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-subcompany-add"><i
                class="fa fa-plus"></i> ลงเวลาทำงาน</button>-->
        </div>
</div>
<div class="container-fluid"> 

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหา
                        </div>
                        <div class="col-3" style="text-align: right;">
                           <!-- <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-timesheet-add"><i
                                class="fa fa-plus"></i> ลงเวลาทำงาน</button>-->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm"> 
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group m-b-30">
                                    <label for="master-data-category-search">หน่วยงาน</label>
                                    <mat-select [formControl]="custCtrl" placeholder="" #singleSelect
                                    (selectionChange)="filterestCustomerChaned($event)">
                                        <mat-option>
                                          <ngx-mat-select-search [formControl]="custFilterCtrl" ngDefaultControl></ngx-mat-select-search>
                                        </mat-option>
                                  
                                        <mat-option *ngFor="let cust of filteredCust | async" [value]="cust">
                                          {{cust.name}}
                                        </mat-option>
                                      </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group m-b-30">
                                    <label for="master-data-category-search">พนักงาน</label>
                                    <select class="form-control">
                                        <option value="">--- ทั้งหมด ---</option>
                                    </select>
                                </div> 
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group m-b-30">
                                    <label for="master-data-category-search">หัวข้อหลัก</label>
                                    <select class="form-control" 
                                    [(ngModel)]="mainTopicId" [ngModelOptions]="{standalone: true}"
                                    (change)="selectMainTopic($event)">
                                        <option value="">--- ทั้งหมด ---</option>
                                        <option *ngFor="let item of mainTopicMasterList" value="{{item.id}}">{{item.title}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group m-b-30">
                                    <label for="master-data-category-search">หัวข้อย่อย</label>
                                    <select class="form-control" [(ngModel)]="subTopicId" [ngModelOptions]="{standalone: true}">
                                        <option value="">--- ทั้งหมด ---</option>
                                        <option *ngFor="let item of subTopicMasterList" value="{{item.id}}">{{item.title}}
                                        </option>
                                    </select>
                                </div> 
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="stock-category">วันที่</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" 
                                        name="daterangeInput" daterangepicker [options]="optionleDate" (selected)="selectedDate($event)">
                                        <span class="input-group-addon input-group-text"><i class="icon-calender"></i></span>
                                    </div>
                            </div> 
                            <div class="col-sm-12 col-md-2">
                                <br />
                                <div class="form-group">
                                <button type="button" class="btn btn-rounded btn-info" style="margin-top: 3.5%;" (click)="searchTimesheet()"><i class="fa fa-search"></i> ค้นหา</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-7">
                            ตารางงาน
                            &nbsp;&nbsp;
                            <span *ngIf="employeeId != 0 && employee" 
                            style="font-weight: bold;font-size: 20px;color: rgb(53, 120, 244);">
                                {{employee.prefix}}{{employee.first_name}} &nbsp; {{employee.last_name}}
                            </span>
                        </div>
                        <div class="col-5" style="text-align: right;">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="master_data_table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" class="center">ลำดับ</th>
                                    <th style="width: 15%;">หน่วยงาน</th>
                                    <th style="width: 15%;">พนักงาน</th>
                                    <th style="width: 25%;" left="center">รายละเอียด</th>
                                    <th style="width: 10%;" class="center">วันที่</th>
                                    <th style="width: 5%;" class="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of datas; index as i">
                                    <td style="width: 5%;" class="center">{{i+1}}</td>
                                    <td style="width: 15%;">
                                        {{item.customer_name}}
                                    </td>
                                    <td style="width: 15%;">
                                        {{item.first_name}} &nbsp; {{item.last_name}}
                                    </td>
                                    <td style="width: 25%;" class="left">
                                        {{item.description}}
                                    </td>
                                    <td style="width: 10%;" class="center">
                                        {{item.work_date}}
                                    </td>
                                    <td style="width: 5%;" class="center">
                                        <i class="fas fa-search btn-view" (click)="viewTimeSheet(item.id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 

                </div>
            </div>
        </div>
    </div>

</div> 
 
<!--Add modal-->
<div class="modal" id="modal-timesheet-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">ลงเวลาทำงาน</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="saveTimesheet(addForm.value)">บันทึก</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal--> 


<!--View modal-->
<div class="modal" id="modal-timesheet-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">รายละเอียดงาน</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label class="control-label txt-title">วันที่ </label>
                        <div class="form-group txt-detail">
                            {{timesheetSubItem?.workDate}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label class="control-label txt-title">พนักงาน </label>
                        <div class="form-group txt-detail">
                            {{timesheetSubItem?.employeeName}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label class="control-label txt-title">หน่วยงาน </label>
                        <div class="form-group txt-detail">
                            {{timesheetSubItem?.customerName}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label class="control-label txt-title">หัวข้อหลัก </label>
                        <div class="form-group txt-detail">
                            {{timesheetSubItem?.mainTopicName}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label class="control-label txt-title">หัวข้อย่อย </label>
                        <div class="form-group txt-detail">
                            {{timesheetSubItem?.subTopicName}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label class="control-label txt-title">รายละเอียด</label>
                            <textarea class="form-control" rows="5">{{timesheetSubItem?.description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 center" *ngFor="let data of timesheetSubItem?.fileList; index as no">
                        <img src="{{data.url}}" width="100%" />
                        <hr>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- End View modal--> 
 