<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">เบิกล่วงหน้า</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">เบิกล่วงหน้า</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
             
    </div>
</div>
<div class="container-fluid"> 

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            รายละเอียดการเบิก
                        </div>
                        <div class="col-3">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="addForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <label for="pick_date" class="control-label">วันที่โอนจ่าย <span class="star-required">*</span></label>
                                        <input type="text" 
                                        style="background-color: rgb(253, 240, 123);"
                                        name="daterangeInput" daterangepicker [options]="optionSingleDate" (selected)="selectedDate($event, daterange)"
                                        class="form-control" id="pick_date" formControlName="pick_date" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.pick_date.errors }">
                                    </div>
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.pick_date.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.pick_date.errors.required">โปรดระบุ วันที่โอนจ่ายเงิน</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="pick_total_amount" class="control-label">จำนวนเงินเบิก(บาท) <span class="star-required">*</span></label>
                                    <input type="number" class="form-control" id="pick_total_amount" formControlName="pick_total_amount" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.pick_total_amount.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.pick_total_amount.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.pick_total_amount.errors.required">โปรดระบุ จำนวนเงินเบิก(บาท)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="total_installment" class="control-label">แบ่งจ่าย(จำนวนงวด) <span class="star-required">*</span></label>
                                    <input type="number" class="form-control" id="total_installment" formControlName="total_installment" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.total_installment.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.total_installment.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.total_installment.errors.required">โปรดระบุ แบ่งจ่าย(จำนวนงวด)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="paid_per_installment" class="control-label">แบ่งจ่ายต่องวด(บาท) <span class="star-required">*</span></label>
                                    <input type="number" class="form-control" id="paid_per_installment" formControlName="paid_per_installment" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.paid_per_installment.errors }">
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.paid_per_installment.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.paid_per_installment.errors.required">โปรดระบุ แบ่งจ่ายต่องวด(บาท)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="month" class="control-label">รอบบิลที่เริ่มชำระ <span class="star-required">*</span></label>
                                    <select class="form-control" formControlName="month">
                                        <option value="1-0">มกราคม (1-15)</option>
                                        <option value="1-1">มกราคม (16-31)</option>
                                        <option value="2-0">กุมภาพันธ์ (1-15)</option>
                                        <option value="2-1">กุมภาพันธ์ (16-29)</option>
                                        <option value="3-0">มีนาคม (1-15)</option>
                                        <option value="3-1">มีนาคม (16-31)</option>
                                        <option value="4-0">เมษายน (1-15)</option>
                                        <option value="4-1">เมษายน (16-30)</option>
                                        <option value="5-0">พฤษภาคม (1-15)</option>
                                        <option value="5-1">พฤษภาคม (16-31)</option>
                                        <option value="6-0">มิถุนายน (1-15)</option>
                                        <option value="6-1">มิถุนายน (16-30)</option>
                                        <option value="7-0">กรกฎาคม (1-15)</option>
                                        <option value="7-1">กรกฎาคม (16-31)</option>
                                        <option value="8-0">สิงหาคม (1-15)</option>
                                        <option value="8-1">สิงหาคม (16-31)</option>
                                        <option value="9-0">กันยายน (1-15)</option>
                                        <option value="9-1">กันยายน (16-30)</option>
                                        <option value="10-0">ตุลาคม (1-15)</option>
                                        <option value="10-1">ตุลาคม (16-31)</option>
                                        <option value="11-0">พฤศจิกายน (1-15)</option>
                                        <option value="11-1">พฤศจิกายน (16-30)</option>
                                        <option value="12-0">ธันวาคม (1-15)</option>
                                        <option value="12-1">ธันวาคม (16-31)</option>
                                    </select>
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.month.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.month.errors.required">โปรดระบุ รอบบิลที่เริ่มชำระ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="holiday-year-search">ปี พ.ศ.</label>
                                    <select class="form-control" formControlName="year">
                                        <option *ngFor="let item of yearList" value="{{item?.enYear}}">{{item?.thYear}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted_add &amp;&amp; addForm.controls.year.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.year.errors.required">โปรดระบุ ปี พ.ศ.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="remark" class="control-label">รายละเอียด</label>
                                    <input type="text" class="form-control" id="remark" formControlName="remark">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <br />
                                <button class="btn btn-rounded btn-primary" (click)="applyData()"> นำไปใช้กับทุกรายการ</button>
                            </div>
                        </div> 

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-7">
                            รายการเบิก
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <button class="btn btn-rounded btn-warning" (click)="openUploadModal()"><i
                                class="fa fa-excel-o"></i> Upload รายชื่อจากไฟล์</button> &nbsp;
                            <button class="btn btn-rounded btn-info" (click)="openEmployeeModal()"><i
                                class="fa fa-plus"></i> เพิ่มผู้เบิก</button> &nbsp;
                            <button class="btn btn-rounded btn-success" (click)="saveAll()"> <i
                                class="fa fa-save"></i> บันทึกรายการทั้งหมด</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_advmoney_all" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" class="center">ลำดับ</th>
                                    <th style="width: 10%;">ชื่อ-นามสกุล</th>
                                    <th style="width: 15%;">วันที่ทำรายการ</th>
                                    <th style="width: 10%;">จำนวนเงินเบิก(บาท)</th>
                                    <th style="width: 10%;">แบ่งจ่ายต่องวด(บาท)</th>
                                    <th style="width: 10%;">แบ่งจ่าย(จำนวนงวด)</th>
                                    <th style="width: 20%;">เริ่มชำระ</th>
                                    <th style="width: 15%;">หมายเหตุ</th>
                                    <th style="width: 5%;" class="center"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of advMoneyList; index as i">
                                    <td style="width: 5%;" class="center">
                                    {{i+1}}
                                    </td>
                                    <td style="width: 10%;" class="left">
                                        {{item.first_name}} {{item.last_name}}
                                    </td>
                                    <td style="width: 15%;" class="center">
                                        {{item.pick_date | date: 'dd/MM/yyyy HH:mm:ss'}}
                                    </td>
                                    <td style="width: 10%;" class="center">
                                        <input type="number" class="form-control" [(ngModel)]="item.pick_total_amount">
                                    </td>
                                    <td style="width: 10%;" class="center">
                                        <input type="number" class="form-control" [(ngModel)]="item.paid_per_installment">
                                    </td>
                                    <td style="width: 10%;" class="center">
                                        <input type="number" class="form-control" [(ngModel)]="item.total_installment">
                                    </td>
                                    <td style="width: 20%;" class="center">
                                        <div class="row">
                                            <div class="col-6">
                                                <select class="form-control" [(ngModel)]="item.month">
                                                    <option value="1-0">มกราคม (1-15)</option>
                                                    <option value="1-1">มกราคม (16-31)</option>
                                                    <option value="2-0">กุมภาพันธ์ (1-15)</option>
                                                    <option value="2-1">กุมภาพันธ์ (16-29)</option>
                                                    <option value="3-0">มีนาคม (1-15)</option>
                                                    <option value="3-1">มีนาคม (16-31)</option>
                                                    <option value="4-0">เมษายน (1-15)</option>
                                                    <option value="4-1">เมษายน (16-30)</option>
                                                    <option value="5-0">พฤษภาคม (1-15)</option>
                                                    <option value="5-1">พฤษภาคม (16-31)</option>
                                                    <option value="6-0">มิถุนายน (1-15)</option>
                                                    <option value="6-1">มิถุนายน (16-30)</option>
                                                    <option value="7-0">กรกฎาคม (1-15)</option>
                                                    <option value="7-1">กรกฎาคม (16-31)</option>
                                                    <option value="8-0">สิงหาคม (1-15)</option>
                                                    <option value="8-1">สิงหาคม (16-31)</option>
                                                    <option value="9-0">กันยายน (1-15)</option>
                                                    <option value="9-1">กันยายน (16-30)</option>
                                                    <option value="10-0">ตุลาคม (1-15)</option>
                                                    <option value="10-1">ตุลาคม (16-31)</option>
                                                    <option value="11-0">พฤศจิกายน (1-15)</option>
                                                    <option value="11-1">พฤศจิกายน (16-30)</option>
                                                    <option value="12-0">ธันวาคม (1-15)</option>
                                                    <option value="12-1">ธันวาคม (16-31)</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <select class="form-control" [(ngModel)]="item.year">
                                                    <ng-container *ngFor="let y of yearList">
                                                        <option value="{{y?.enYear}}">{{y?.thYear}}
                                                        </option>
                                                    </ng-container> 
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 15%;" class="center">
                                        <input type="text" class="form-control" [(ngModel)]="item.remark">
                                    </td>
                                    <td style="width: 5%;" class="center">
                                        <i class="fas fa-trash-alt btn-remove" (click)="removeItem(i)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> 
 

<!--Add modal-->
<div class="modal" id="modal-advmoney-emp-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลผู้เบิก</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="employee_data_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%;" class="center">ลำดับ</th>
                                <th style="width: 25%;">รหัสพนักงาน</th>
                                <th style="width: 25%;">รหัสบัตรประจำตัวประชาชน</th>
                                <th style="width: 30%;">ชื่อ-นามสกุล</th>
                                <th style="width: 15%;" class="center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" 
                                        (change)="trigedEmpAll($event)"
                                        >
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of employeeList; index as i">
                                <td style="width: 5%;" class="center">{{i+1}}</td>
                                <td style="width: 25%;">{{item.code}}</td>
                                <td style="width: 25%;">{{item.identity_no}}</td>
                                <td style="width: 30%;">{{item.prefix}}{{item.first_name}}&nbsp;{{item.last_name}}</td>
                                <td style="width: 15%;" class="center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="{{item.id}}" 
                                        value="{{item.id}}"
                                        (change)="trigedEmp(item)"
                                        [checked]="isCheckAll"
                                        >
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="addEmployeeSelect()">ตกลง</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal-->

<!--Add modal-->
<div class="modal" id="modal-advmoney-emp-upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">Upload รายชื่อผู้เบิก</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                 <input type="file" (change)="onFileChange($event)"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" (click)="uploadExcel()">ตกลง</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal-->