<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">ตารางงาน (รปภ.)</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ตารางงาน (รปภ.)</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ตารางงาน (รปภ.)
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm" id="add-form">
                        <div class="row"> 
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="holiday-year-search">เดือน</label>
                                    <select class="form-control" formControlName="month" (change)="monthChanged()">
                                        <option value="1">มกราคม</option>
                                        <option value="2">กุมภาพันธ์</option>
                                        <option value="3">มีนาคม</option>
                                        <option value="4">เมษายน</option>
                                        <option value="5">พฤษภาคม</option>
                                        <option value="6">มิถุนายน</option>
                                        <option value="7">กรกฎาคม</option>
                                        <option value="8">สิงหาคม</option>
                                        <option value="9">กันยายน</option>
                                        <option value="10">ตุลาคม</option>
                                        <option value="11">พฤศจิกายน</option>
                                        <option value="12">ธันวาคม</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="holiday-year-search">ปี พ.ศ.</label>
                                    <select class="form-control" formControlName="year">
                                        <option *ngFor="let item of yearList" value="{{item?.enYear}}">{{item?.thYear}}
                                        </option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group m-b-30">
                                    <label for="customer_id">หน่วยงานลูกค้า</label>
                                    <mat-select [formControl]="custCtrl" placeholder="" #singleSelect>
                                        <mat-option>
                                          <ngx-mat-select-search [formControl]="custFilterCtrl" ngDefaultControl></ngx-mat-select-search>
                                        </mat-option>
                                  
                                        <mat-option *ngFor="let cust of filteredCust | async" [value]="cust">
                                          {{cust.name}}
                                        </mat-option>
                                      </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <button type="button" class="btn btn-rounded btn-info" style="margin-top: 15%;" (click)="search()"><i class="fa fa-search"></i> ค้นหา</button>
                                </div>
                            </div> 
                        </div>
                    </form>
                    <hr />  
                </div>
            </div>
        </div>
    </div>
     
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="padding:0px !important">
                    <br /> 
                    
                    <div class="tscroll">
                        <table class="table table-striped table-bordered">
                            <thead style="background: #54a0ff;">
                                <tr>
                                    <th class="tb-main-col-checkpoint">ตำแหน่งงาน</th>
                                    <ng-container *ngFor="let item of dayList;let i = index">
                                        <th class="tb-main-col-checkpoint" style="font-weight: bold;">{{item.value}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of scheduleModel.position;let i = index">
                                    <td>{{item.name}}</td>
                                    <ng-container *ngFor="let itemDay of item.day;let j = index">
                                        <td
                                        [ngClass]="{
                                            'status-cust-success' : itemDay.status=='W',
                                            'status-cust-warning' : itemDay.status=='O'
                                            }">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" 
                                                id="inlineCheckboxD{{i}}-{{itemDay.value}}-{{j}}" value="W" 
                                                [checked]="itemDay.status == 'W'"
                                                (change)="trigCheckBoxWork(i,j)">
                                                <label class="form-check-label" for="inlineCheckboxD{{i}}-{{itemDay.value}}-{{j}}">{{itemDay.status}}</label>
                                            </div>
                                        </td>
                                    </ng-container> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div> 
        </div>
    </div>
</div>  
