<div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">ประกัน</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ประกัน</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex no-block justify-content-end align-items-center">
                   
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-cover-table">
                        <div class="row">
                            <div class="col-9">
                                ค้นหาข้อมูลประกัน
                            </div>
                             
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <label for="stock-category">ข้อมูล</label>
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="input" class="form-control" placeholder="ชื่อพนักงาน/รหัสพนักงาน ที่ต้องการค้นหา...">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <button type="button" class="btn btn-rounded btn-info" style="margin-top: 13%;" (click)="search()">
                                    <i class="fa fa-search"></i> ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-cover-table">
                        <div class="row">
                            <div class="col-9">
                                ข้อมูลประกัน
                            </div>
                            <div class="col-3">
                                <div class="d-flex no-block justify-content-end align-items-center">
                                    <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-insurance-add"><i
                                            class="fa fa-plus"></i> เพิ่มข้อมูลประกัน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="insurance_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="center">ลำดับ</th>
                                        <th style="width: 20%;" class="center">ชื่อ-สกุล พนักงาน</th>
                                        <th style="width: 10%;" class="center">ทั้งหมด(งวด)</th>
                                        <th style="width: 10%;" class="center">จ่ายแล้ว(งวด)</th>
                                        <th style="width: 10%;" class="center">คงเหลือ(งวด)</th>
                                        <th style="width: 10%;" class="center">ทั้งหมด(บาท)</th>
                                        <th style="width: 10%;" class="center">จ่ายแล้ว(บาท)</th>
                                        <th style="width: 10%;" class="center">คงเหลือ(บาท)</th>
                                        <th style="width: 10%;" class="center">งวดละ</th>
                                        <th style="width: 5%;" class="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of insuranceList; index as i">
                                        <td style="width: 5%;" class="center">{{i+1}}</td>
                                        <td style="width: 20%;">
                                            <span>{{item.first_name}} {{item.last_name}}</span>
                                        </td>
                                        <td style="text-align: right">
                                            {{item.total_installment | number}}
                                        </td>
                                        <td style="text-align: right">
                                            {{item.paid_installment | number}}
                                        </td>
                                        <td style="text-align: right">
                                            {{item.remain_installment | number}}
                                        </td>
                                        <td style="text-align: right">
                                            {{item.total_installment_money | number : '1.2-2'}}
                                        </td>
                                        <td style="text-align: right">
                                            {{item.paid_installment_money | number : '1.2-2'}}
                                        </td>
                                        <td style="text-align: right">
                                            {{item.remain_installment_money | number : '1.2-2'}}
                                        </td>
                                        <td style="text-align: right">
                                            {{item.paid_per_installment | number : '1.2-2'}}
                                        </td>
                                        <td class="center">
                                            <a (click)="edit(item.id)"><i class="fas fa-edit btn-edit"></i></a>&nbsp;
                                            <i class="fas fa-trash-alt btn-remove" (click)="openModalDelete(item.id)"></i>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!--Add modal-->
    <div class="modal" id="modal-insurance-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-add">
                        <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลประกันพนักงาน</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addForm">
                            <div class="form-group m-b-30">
                                <label for="employee_id">พนักงาน <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="employee_id" formControlName="employee_id"
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.employee_id.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.employee_id.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.employee_id.errors.required">โปรดระบุรายละเอียดพนักงาน</div>
                                </div>
                            </div> 
                            <!--<div class="form-group">
                                <label for="holiday-date" class="control-label">วันที่เริ่มจ่าย <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="holiday-date" formControlName="holiday_date" 
                                daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.holiday_date.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.holiday_date.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.holiday_date.errors.required">โปรดระบุวันที่</div>
                                </div>
                            </div>-->
                            <div class="form-group m-b-30">
                                <label for="total_installment_money">จำนวน(บาท) <span class="star-required">*</span></label>
                                <input type="number" class="form-control" id="total_installment_money" formControlName="total_installment_money"
                                (keyup)="installmentAddChanged()"
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.total_installment_money.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.total_installment_money.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.total_installment_money.errors.required">โปรดระบุรายละเอียด จำนวน(บาท)</div>
                                </div>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="total_installment">จำนวน(งวด) <span class="star-required">*</span></label>
                                <input type="number" class="form-control" id="total_installment" formControlName="total_installment"
                                (keyup)="installmentAddChanged()"
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.total_installment.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.total_installment.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.total_installment.errors.required">โปรดระบุรายละเอียด จำนวน(งวด)</div>
                                </div>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="paid_per_installment">งวดละ <span class="star-required">*</span></label>
                                <input type="number" class="form-control" id="paid_per_installment" formControlName="paid_per_installment"
                                disabled
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.paid_per_installment.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.paid_per_installment.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.paid_per_installment.errors.required">โปรดระบุรายละเอียด งวดละ</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-success" (click)="addInsurance(addForm.value)">บันทึก</button>
                        <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Add modal-->
    
        <!--Edit modal-->
        <div class="modal" id="modal-insurance-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-add">
                        <h4 class="modal-title" id="exampleModalLabel1">เพิ่มข้อมูลประกันพนักงาน</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="editForm">
                            <div class="form-group m-b-30">
                                <label for="employee_id">พนักงาน <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="employee_id" formControlName="employee_id"
                                [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.employee_id.errors }">
                                <div *ngIf="submitted_add &amp;&amp; editForm.controls.employee_id.errors" class="text-danger">
                                    <div *ngIf="editForm.controls.employee_id.errors.required">โปรดระบุรายละเอียดพนักงาน</div>
                                </div>
                            </div> 
                            <!--<div class="form-group">
                                <label for="holiday-date" class="control-label">วันที่เริ่มจ่าย <span class="star-required">*</span></label>
                                <input type="text" class="form-control" id="holiday-date" formControlName="holiday_date" 
                                daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
                                [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.holiday_date.errors }">
                                <div *ngIf="submitted_add &amp;&amp; addForm.controls.holiday_date.errors" class="text-danger">
                                    <div *ngIf="addForm.controls.holiday_date.errors.required">โปรดระบุวันที่</div>
                                </div>
                            </div>-->
                            <div class="form-group m-b-30">
                                <label for="total_installment_money">จำนวน(บาท) <span class="star-required">*</span></label>
                                <input type="number" class="form-control" id="total_installment_money" formControlName="total_installment_money"
                                (keyup)="installmentAddChanged()"
                                [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.total_installment_money.errors }">
                                <div *ngIf="submitted_add &amp;&amp; editForm.controls.total_installment_money.errors" class="text-danger">
                                    <div *ngIf="editForm.controls.total_installment_money.errors.required">โปรดระบุรายละเอียด จำนวน(บาท)</div>
                                </div>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="total_installment">จำนวน(งวด) <span class="star-required">*</span></label>
                                <input type="number" class="form-control" id="total_installment" formControlName="total_installment"
                                (keyup)="installmentAddChanged()"
                                [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.total_installment.errors }">
                                <div *ngIf="submitted_add &amp;&amp; editForm.controls.total_installment.errors" class="text-danger">
                                    <div *ngIf="editForm.controls.total_installment.errors.required">โปรดระบุรายละเอียด จำนวน(งวด)</div>
                                </div>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="paid_per_installment">งวดละ <span class="star-required">*</span></label>
                                <input type="number" class="form-control" id="paid_per_installment" formControlName="paid_per_installment"
                                disabled
                                [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.paid_per_installment.errors }">
                                <div *ngIf="submitted_add &amp;&amp; editForm.controls.paid_per_installment.errors" class="text-danger">
                                    <div *ngIf="editForm.controls.paid_per_installment.errors.required">โปรดระบุรายละเอียด งวดละ</div>
                                </div>
                            </div>

                            <div class="form-group m-b-30">
                                <label for="paid_installment">จ่ายแล้ว(งวด) </label>
                                <input type="number" class="form-control" id="paid_installment" formControlName="paid_installment"
                                disabled>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="remain_installment">คงเหลือ(งวด) </label>
                                <input type="number" class="form-control" id="remain_installment" formControlName="remain_installment"
                                disabled>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="paid_installment_money">จ่ายแล้ว(บาท) </label>
                                <input type="number" class="form-control" id="paid_installment_money" formControlName="paid_installment_money"
                                disabled>
                            </div>
                            <div class="form-group m-b-30">
                                <label for="remain_installment_money">คงเหลือ(บาท) </label>
                                <input type="number" class="form-control" id="remain_installment_money" formControlName="remain_installment_money"
                                disabled>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-success" (click)="updateInsurance(editForm.value)">บันทึก</button>
                        <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Edit modal-->
    
    
        <div class="modal" id="modal-insurance-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body center remove-modal-bg-content">
                            <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                            <span class="warnnig-remove-text">
                                คุณต้องการลบข้อมูลค่าประกันความเสียหายรายการนี้
                            </span>
                        </div>
                        <div class="modal-footer center">
                                <button type="button" class="btn btn-rounded btn-danger" (click)="delete()">ยืนยัน</button>&nbsp;
                                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Edit modal-->