<style>
  .bg-menu-expend {
    background-color: #2e3442 !important;
  }
</style>
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- User Profile-->
        <li>
          <!-- User Profile-->
          <div class="user-profile d-flex no-block dropdown mt-3">
            <div class="user-pic"><img src="../assets/images/users/1.jpg" alt="users" class="rounded-circle"
                width="40" /></div>
            <div class="user-content hide-menu ml-2">
              <!--<a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h5 class="mb-0 user-name font-medium">Steave Jobs <i class="fa fa-angle-down"></i></h5>
                                <span class="op-5 user-email">varun@gmail.com</span>
                            </a>-->
              <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <h5 class="mb-0 user-name font-medium"></h5>
                <h5 class="mb-0 user-name font-medium">{{customerName}}</h5>
              </a>
            </div>
          </div>
          <!-- End User Profile-->
        </li>
        <!-- User Profile-->
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/"
            aria-expanded="false">
            <i class="mdi mdi-chart-areaspline"></i><span class="hide-menu">Dashboard</span></a>
        </li>
        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
            aria-expanded="false"><i class="ti-server"></i><span class="hide-menu">สินค้า/อุปกรณ์</span></a>
          <ul aria-expanded="false" class="collapse  first-level bg-menu-expend">

            <li class="sidebar-item"><a href="#product-category" class="sidebar-link"><i class="mdi mdi-adjust"></i><span
                  class="hide-menu"> รายงานประเภทสินค้า/อุปกรณ์ </span></a></li>
            <li class="sidebar-item"><a href="#product" class="sidebar-link"><i class="mdi mdi-adjust"></i><span
                  class="hide-menu"> รายงานสินค้า/อุปกรณ์ </span></a></li>
          </ul>
        </li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#my-page"
          aria-expanded="false">
          <i class="ti-layout"></i><span class="hide-menu">My Page</span></a>
      </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>