<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">ตรวจสอบโอนจ่าย</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ตรวจสอบโอนจ่าย</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-center">
             
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ตรวจสอบโอนจ่าย
                        </div>
                        <div class="col-3">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="customer_id">ประเภทการจ่าย</label>
                                    <select class="form-control" [(ngModel)]="paidType">
                                        <option value="">--- กรุณาเลือก ---</option>
                                        <option value="AA">เสริม/ควง</option>
                                        <option value="S">วันอาทิตย์</option>
                                        <option value="PA">พาร์สทาม</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                   <!-- <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="searchDateType" 
                                        id="inlineRadio1" value="W" checked (click)="searchDateTypeSeleted('W')">
                                        <label class="form-check-label" for="inlineRadio1">วันที่ทำงาน</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="searchDateType" 
                                        id="inlineRadio2" value="P" (click)="searchDateTypeSeleted('P')">
                                        <label class="form-check-label" for="inlineRadio2">วันที่โอน/จ่าย</label>
                                    </div> -->
                                    <label for="stock-category">วันที่ทำงาน</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" 
                                        name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)">
                                        <span class="input-group-addon input-group-text"><i class="icon-calender"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group m-b-30">
                                    <label for="customer_id">หน่วยงานลูกค้า</label>
                                    <select class="form-control" [(ngModel)]="customerId">
                                        <option value="0">--- เลือกทั้งหมด ---</option>
                                        <option *ngFor="let item of customerList" value="{{item.id}}">({{item.code}}) {{item.name}}</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <label for="customer_id">ธนาคาร</label>
                                    <select class="form-control" [(ngModel)]="bankCode">
                                        <!--<option value="0">--- เลือกทั้งหมด ---</option>-->
                                        <option *ngFor="let item of bankList" value="{{item.code}}">{{item.name}}</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group m-b-30">
                                    <button type="button" class="btn btn-rounded btn-info" style="margin-top: 10%;" (click)="search(searchForm.value)"><i class="fas fa-search"></i> ค้นหา</button>
                                </div>
                                <!--<button type="button" class="btn btn-rounded btn-warning" (click)="exportFileBank()">
                                    <i class="fa fa-file-excel-o"></i> Export ไฟล์ส่งธนาคาร
                                </button>-->
                            </div> 
                        </div>
                    <hr />  
                </div>
            </div>
        </div>
    </div>
    <br /> 
     <div *ngIf="paidType == 'AA' && extendList.length>0">
        <div class="row">
            <div class="col-6" style="text-align: left;">
                <span style="font-weight: bold;font-size: 30px;">ประเภทการจ่าย : เสริม / ควง</span>
            </div>
            <div class="col-2" style="text-align: right;">
                <button type="button" class="btn btn-rounded btn-warning" (click)="exportFileBank()">
                    <i class="fa fa-file-excel-o"></i> Export ไฟล์ส่งธนาคาร
                </button>
            </div> 
            <div class="col-2" style="text-align: left;">
                <button type="button" class="btn btn-rounded btn-primary" (click)="printCashSlip()">
                    <i class="fa fa-file-pdf"></i> พิมพ์เอกสาร
                </button>
            </div>
            <div class="col-2" style="text-align: center;">
                <button type="button" class="btn btn-rounded btn-success" (click)="updateCheckPoint()">
                    <i class="fa fa-save"></i> บันทึกการโอนจ่าย
                </button>
            </div> 
        </div>
        <br />
        <table class="table table-striped table-bordered">
            <thead style="background: #54a0ff;">
                <tr>
                   <th style="width: 15%;">หน่วยงาน</th>
                   <th style="width: 10%;">พนักงาน/รปภ.</th>
                   <th style="width: 10%;">เลขบัญชี</th>
                   <th style="width: 60%;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input" type="checkbox" (change)="trigCheckBoxPaidAll($event)"> เลือกทั้งหมด
                   </th>
                   <th style="width: 5%;">ยอดโอน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of extendList;let i = index">
                   <td>{{item.customerName}}</td>
                   <td>{{item.employeeName}}</td>
                   <td>{{item.bankDetail}}</td>
                   <td>
                       <table>
                           <tr>
                            <ng-container *ngFor="let paidItem of item.itemList;let countPaid = index">
                               <td 
                               style="border: 1px solid #ffffff;"
                               [ngClass]="{
                                'paid-old' : paidItem.dataType=='OLD',
                                'paid-new' : paidItem.dataType=='NEW' && paidItem.paidStatus != ''
                                }">
                                    <div class="form-check form-check-inline">
                                        <input 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        id="inlineCheckbox{{item.customerId}}-{{item.employeeId}}-{{paidItem.workType}}-{{countPaid}}" 
                                        value="{{paidItem.workType}}"
                                        (change)="trigCheckBoxWorkPaid(paidItem.workType,item.employeeId,item.customerId,'AA',paidItem.date,$event)"
                                        [checked]="paidItem.paidStatus != ''"
                                        [disabled]="paidItem.dataType == 'OLD'"
                                        >
                                        <label class="form-check-label" 
                                        for="inlineCheckbox{{item.customerId}}-{{item.employeeId}}-{{paidItem.workType}}-{{countPaid}}">
                                        {{paidItem.date}}{{paidItem.workType}}<br />({{paidItem.wage | number}})
                                        </label>
                                    </div>
                                    <div *ngIf="paidItem.dataType == 'OLD'">
                                        <span style="font-size: 14px;">
                                            วันโอน/จ่าย<br />({{paidItem.paidDate}})
                                        </span>
                                    </div>

                                    <span style="font-size: 14px;" *ngIf="paidItem.dataType == 'NEW'"><br />วันโอน/จ่าย <br /></span>
                                    <div class="input-group date" *ngIf="paidItem.dataType == 'NEW'">
                                        <input type="text" class="form-control" style="width: 110px;"
                                        name="daterangeInput" daterangepicker [options]="optionSingleDate" 
                                        (selected)="selectedDatePaid(paidItem.workType,item.employeeId,item.customerId,'AA',paidItem.date,$event, daterange)">
                                    </div>
                               </td>
                            </ng-container>
                           </tr>
                       </table>
                   </td>
                   <td>{{item.totalPaid}}</td>
                </tr>
            </tbody>
        </table>
     </div>

     <div *ngIf="paidType == 'S' && sundayList.length>0">
        <div class="row">
            <div class="col-6" style="text-align: left;">
                <span style="font-weight: bold;font-size: 30px;">ประเภทการจ่าย : วันอาทิตย์</span>
            </div>
            <div class="col-2" style="text-align: right;">
                <button type="button" class="btn btn-rounded btn-warning" (click)="exportFileBank()">
                    <i class="fa fa-file-excel-o"></i> Export ไฟล์ส่งธนาคาร
                </button>
            </div> 
            <div class="col-2" style="text-align: left;">
                <button type="button" class="btn btn-rounded btn-primary" (click)="printCashSlip()">
                    <i class="fa fa-file-pdf"></i> พิมพ์เอกสาร
                </button>
            </div>
            <div class="col-2" style="text-align: center;">
                <button type="button" class="btn btn-rounded btn-success" (click)="updateCheckPoint()">
                    <i class="fa fa-save"></i> บันทึกการโอนจ่าย
                </button>
            </div> 
        </div>
        <br />
        <table class="table table-striped table-bordered">
            <thead style="background: #d39b6b;">
                <tr>
                   <th style="width: 15%;">หน่วยงาน</th>
                   <th style="width: 10%;">พนักงาน/รปภ.</th>
                   <th style="width: 10%;">เลขบัญชี</th>
                   <th style="width: 60%;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input" type="checkbox" (change)="trigCheckBoxPaidAll($event)"> เลือกทั้งหมด
                   </th>
                   <th style="width: 5%;">ยอดโอน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sundayList;let i = index">
                   <td>{{item.customerName}}</td>
                   <td>{{item.employeeName}}</td>
                   <td>{{item.bankDetail}}</td>
                   <td>
                       <table>
                           <tr>
                            <ng-container *ngFor="let paidItem of item.itemList;let countPaid = index">
                               <td 
                               style="border: 1px solid #ffffff;"
                               [ngClass]="{
                                'paid-old' : paidItem.dataType=='OLD',
                                'paid-new' : paidItem.dataType=='NEW' && paidItem.paidStatus != ''
                                }">
                                    <div class="form-check form-check-inline">
                                        <input 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        id="inlineCheckbox{{item.customerId}}-{{item.employeeId}}-{{paidItem.workType}}-{{countPaid}}" 
                                        value="{{paidItem.workType}}"
                                        (change)="trigCheckBoxWorkPaid(paidItem.workType,item.employeeId,item.customerId,'S',paidItem.date,$event)"
                                        [checked]="paidItem.paidStatus != ''"
                                        [disabled]="paidItem.dataType == 'OLD'"
                                        >
                                        <label class="form-check-label" 
                                        for="inlineCheckbox{{item.customerId}}-{{item.employeeId}}-{{paidItem.workType}}-{{countPaid}}">
                                        {{paidItem.date}}{{paidItem.workType}}<br />({{paidItem.wage | number}})
                                        </label>
                                    </div>
                                    <div *ngIf="paidItem.dataType == 'OLD'">
                                        <span style="font-size: 14px;">
                                            วันโอน/จ่าย<br />({{paidItem.paidDate}})
                                        </span>
                                    </div>

                                    <span style="font-size: 14px;" *ngIf="paidItem.dataType == 'NEW'"><br />วันโอน/จ่าย <br /></span>
                                    <div class="input-group date" *ngIf="paidItem.dataType == 'NEW'">
                                        <input type="text" class="form-control" style="width: 110px;"
                                        name="daterangeInput" daterangepicker [options]="optionSingleDate" 
                                        (selected)="selectedDatePaid(paidItem.workType,item.employeeId,item.customerId,'S',paidItem.date,$event, daterange)">
                                    </div>
                               </td>
                            </ng-container>
                           </tr>
                       </table>
                   </td>
                   <td>{{item.totalPaid}}</td>
                </tr>
            </tbody>
        </table>
     </div>

     <div *ngIf="paidType == 'PA' && pasttimeList.length>0">
        <div class="row">
            <div class="col-6" style="text-align: left;">
                <span style="font-weight: bold;font-size: 30px;">ประเภทการจ่าย : พาร์สทาม</span>
            </div>
            <div class="col-2" style="text-align: right;">
                <button type="button" class="btn btn-rounded btn-warning" (click)="exportFileBank()">
                    <i class="fa fa-file-excel-o"></i> Export ไฟล์ส่งธนาคาร
                </button>
            </div> 
            <div class="col-2" style="text-align: left;">
                <button type="button" class="btn btn-rounded btn-primary" (click)="printCashSlip()">
                    <i class="fa fa-file-pdf"></i> พิมพ์เอกสาร
                </button>
            </div>
            <div class="col-2" style="text-align: center;">
                <button type="button" class="btn btn-rounded btn-success" (click)="updateCheckPoint()">
                    <i class="fa fa-save"></i> บันทึกการโอนจ่าย
                </button>
            </div> 
        </div>
        <br />
        <table class="table table-striped table-bordered">
            <thead style="background: #a17ed9;">
                <tr>
                   <th style="width: 15%;">หน่วยงาน</th>
                   <th style="width: 10%;">พนักงาน/รปภ.</th>
                   <th style="width: 10%;">เลขบัญชี</th>
                   <th style="width: 60%;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input" type="checkbox" (change)="trigCheckBoxPaidAll($event)"> เลือกทั้งหมด
                    </th>
                   <th style="width: 5%;">ยอดโอน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pasttimeList;let i = index">
                   <td>{{item.customerName}}</td>
                   <td>{{item.employeeName}}</td>
                   <td>{{item.bankDetail}}</td>
                   <td>
                       <table>
                           <tr>
                            <ng-container *ngFor="let paidItem of item.itemList;let countPaid = index">
                               <td 
                               style="border: 1px solid #ffffff;"
                               [ngClass]="{
                                'paid-old' : paidItem.dataType=='OLD',
                                'paid-new' : paidItem.dataType=='NEW' && paidItem.paidStatus != ''
                                }">
                                    <div class="form-check form-check-inline">
                                        <input 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        id="inlineCheckbox{{item.customerId}}-{{item.employeeId}}-{{paidItem.workType}}-{{countPaid}}" 
                                        value="{{paidItem.workType}}"
                                        (change)="trigCheckBoxWorkPaid(paidItem.workType,item.employeeId,item.customerId,'PA',paidItem.date,$event)"
                                        [checked]="paidItem.paidStatus != ''"
                                        [disabled]="paidItem.dataType == 'OLD'"
                                        >
                                        <label class="form-check-label" 
                                        for="inlineCheckbox{{item.customerId}}-{{item.employeeId}}-{{paidItem.workType}}-{{countPaid}}">
                                        {{paidItem.date}}{{paidItem.workType}}<br />({{paidItem.wage | number}})
                                        </label>
                                    </div>
                                    <div *ngIf="paidItem.dataType == 'OLD'">
                                        <span style="font-size: 14px;">
                                            วันโอน/จ่าย<br />({{paidItem.paidDate}})
                                        </span>
                                    </div>

                                    <span style="font-size: 14px;" *ngIf="paidItem.dataType == 'NEW'"><br />วันโอน/จ่าย <br /></span>
                                    <div class="input-group date" *ngIf="paidItem.dataType == 'NEW'">
                                        <input type="text" class="form-control" style="width: 110px;"
                                        name="daterangeInput" daterangepicker [options]="optionSingleDate" 
                                        (selected)="selectedDatePaid(paidItem.workType,item.employeeId,item.customerId,'PA',paidItem.date,$event, daterange)">
                                    </div>
                               </td>
                            </ng-container>
                           </tr>
                       </table>
                   </td>
                   <td>{{item.totalPaid}}</td>
                </tr>
            </tbody>
        </table>
     </div>
</div>  