<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">รายละเอียดลูกค้า</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">รายละเอียดลูกค้า</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
  </div>
  <br />
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header card-header-cover-table">
                      <div class="row">
                          <div class="col-9">
                              ข้อมูลลูกค้า
                          </div>
                          <div class="col-3">
                               
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="editForm">
                    <fieldset class="border p-2 bg-tis-emp">
                        <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> ข้อมูลลูกค้า</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <label>บริษัท/บุคคล/หน่วยงาน <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="name" class="form-control" placeholder="บริษัท/บุคคล/หน่วยงาน" 
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.name.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.name.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.name.errors.required">โปรดระบุชื่อ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label>เบอร์โทรศัพท์ <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="mobile" class="form-control" placeholder="เบอร์โทรศัพท์" 
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.mobile.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.mobile.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.mobile.errors.required">โปรดระบุเบอร์โทรศัพท์</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label>อีเมล์ <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="email" class="form-control" placeholder="อีเมล์" 
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.email.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.email.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.email.errors.required">โปรดระบุอีเมล์</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2">
                        <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> ข้อมูลที่อยู่</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <label>ที่อยู่ <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="detail" class="form-control" placeholder="ที่อยู่" 
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.detail.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.detail.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.detail.errors.required">โปรดระบุชื่อ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label>โซน </label>
                                <div class="form-group">
                                    <input type="text" formControlName="nearby_places" class="form-control" placeholder="โซน">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>จังหวัด <span class="star-required">*</span></label>
                                    <select formControlName="province" class="form-control" (change)="getAmphur($event.target.value)" [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.province.errors }">
                                        <option value="" [selected]="true">--- เลือกจังหวัด ---</option>
                                        <option *ngFor="let province of countryJson; let count = index;" value="{{count}}|{{province[0]}}">{{province[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_add && editForm.controls.province.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.province.errors.required">โปรดเลือกจังหวัด</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>อำเภอ <span class="star-required">*</span></label>
                                    <select formControlName="amphur" class="form-control" (change)="getThumbon($event.target.value)" [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.amphur.errors }">
                                        <option value="" [selected]="true">--- เลือกอำเภอ ---</option>
                                        <option *ngFor="let amphur of amphurJson; let count = index;" value="{{count}}|{{amphur[0]}}">{{amphur[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_add && editForm.controls.amphur.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.amphur.errors.required">โปรดเลือกอำเภอ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>ตำบล <span class="star-required">*</span></label>
                                    <select formControlName="thumbon" class="form-control" (change)="getPost($event.target.value)" [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.thumbon.errors }">
                                        <option value="" [selected]="true">--- เลือกตำบล ---</option>
                                        <option *ngFor="let thumbon of thumbonJson; let count = index;" value="{{count}}|{{thumbon[0]}}">{{thumbon[0]}}</option>
                                    </select>
                                    <div *ngIf="submitted_add && editForm.controls.thumbon.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.thumbon.errors.required">โปรดเลือกตำบล</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>รหัสไปรษณีย์ <span class="star-required">*</span></label>
                                    <input type="text" formControlName="postcode" class="form-control" [(ngModel)]="postcode" [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.postcode.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.postcode.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.postcode.errors.required">โปรดระบุรหัสไปรษณีย์</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2 bg-tis-emp">
                        <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> ข้อมูลผู้ติดต่อ</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-4"> 
                                <label>วันที่เจ้าหน้าที่ดูหน้างานเพื่อรวบรวมข้อมูล </label>
                                <div class="row">
                                    <div class="col-3">
                                        <label>วัน</label>
                                        <select class="form-control" formControlName="collect_data_d" >
                                            <option *ngFor="let item of dayList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label>เดือน</label>
                                        <select class="form-control" formControlName="collect_data_m" >
                                            <option *ngFor="let item of monthList" value="{{item.key}}">{{item.description}}</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label>ปี</label>
                                        <select class="form-control" formControlName="collect_data_y" >
                                            <option *ngFor="let item of yearList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-12 col-md-3"> 
                                <label>เวลา </label>
                                <div class="row">
                                    <div class="col-3">
                                        <label>ชั่วโมง</label>
                                        <select class="form-control" formControlName="collect_data_hour" >
                                            <option *ngFor="let item of hourList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label>นาที</label>
                                        <select class="form-control" formControlName="collect_data_min" >
                                            <option *ngFor="let item of minList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <label>เจ้าหน้าที่ดูหน้างานเพื่อรวบรวมข้อมูล</label>
                                <div class="row">
                                    <div class="col-12">
                                        <label>ชื่อเจ้าหน้าที่</label>
                                        <input type="text" formControlName="personnel_collect_data" class="form-control" placeholder="ชื่อเจ้าหน้าที่">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12 col-md-4"> 
                                <label>กำหนดวันลงงานจริง </label>
                                <div class="row">
                                    <div class="col-3">
                                        <select class="form-control" formControlName="start_work_d" >
                                            <option *ngFor="let item of dayList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" formControlName="start_work_m" >
                                            <option *ngFor="let item of monthList" value="{{item.key}}">{{item.description}}</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <select class="form-control" formControlName="start_work_y" >
                                            <option *ngFor="let item of yearList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12 col-md-5"> 
                                <label>กำหนดเวลาผลัดกลางวัน </label>
                                <div class="row">
                                    <div class="col-2">
                                        <label>ชั่วโมง</label>
                                        <select class="form-control" formControlName="daytime_shift_start_hour_d" >
                                            <option *ngFor="let item of hourList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label>นาที</label>
                                        <select class="form-control" formControlName="daytime_shift_start_min_d" >
                                            <option *ngFor="let item of minList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <label style="margin-top: 36px;">ถึง</label>
                                    </div>
                                    <div class="col-2">
                                        <label>ชั่วโมง</label>
                                        <select class="form-control" formControlName="daytime_shift_end_hour_d" >
                                            <option *ngFor="let item of hourList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label>นาที</label>
                                        <select class="form-control" formControlName="daytime_shift_end_min_d" >
                                            <option *ngFor="let item of minList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-12 col-md-2"></div>
                            <div class="col-sm-12 col-md-5"> 
                                <label>กำหนดเวลาผลัดกลางคืน </label>
                                <div class="row">
                                    <div class="col-2">
                                        <label>ชั่วโมง</label>
                                        <select class="form-control" formControlName="daytime_shift_start_hour_n" >
                                            <option *ngFor="let item of hourList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label>นาที</label>
                                        <select class="form-control" formControlName="daytime_shift_start_min_n" >
                                            <option *ngFor="let item of minList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <label style="margin-top: 36px;">ถึง</label>
                                    </div>
                                    <div class="col-2">
                                        <label>ชั่วโมง</label>
                                        <select class="form-control" formControlName="daytime_shift_end_hour_n" >
                                            <option *ngFor="let item of hourList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label>นาที</label>
                                        <select class="form-control" formControlName="daytime_shift_end_min_n" >
                                            <option *ngFor="let item of minList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>ชื่อผู้ติดต่อ 1 <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_name_1" class="form-control" placeholder="ชื่อผู้ติดต่อ"
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.contact_name_1.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.contact_name_1.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.contact_name_1.errors.required">โปรดระบุชื่อผู้ติดต่อ 1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ตำแหน่ง <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_position_1" class="form-control" placeholder="ตำแหน่ง"
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.contact_position_1.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.contact_position_1.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.contact_position_1.errors.required">โปรดระบุตำแหน่ง</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>เบอร์โทรศัพท์ <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_phone_number_1" class="form-control" placeholder="เบอร์โทรศัพท์"
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.contact_phone_number_1.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.contact_phone_number_1.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.contact_phone_number_1.errors.required">โปรดระบุเบอร์โทรศัพท์</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>อีเมล์ <span class="star-required">*</span></label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_email_1" class="form-control" placeholder="อีเมล์"
                                    [ngClass]="{ 'is-invalid': submitted_add && editForm.controls.contact_email_1.errors }">
                                    <div *ngIf="submitted_add && editForm.controls.contact_email_1.errors" class="text-danger">
                                        <div *ngIf="editForm.controls.contact_email_1.errors.required">โปรดระบุอีเมล์</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>ชื่อผู้ติดต่อ 2 </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_name_2" class="form-control" placeholder="ชื่อผู้ติดต่อ 2">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ตำแหน่ง </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_position_2" class="form-control" placeholder="ตำแหน่ง">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>เบอร์โทรศัพท์ </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_phone_number_2" class="form-control" placeholder="เบอร์โทรศัพท์">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>อีเมล์ </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_email_2" class="form-control" placeholder="อีเมล์">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>ชื่อผู้ติดต่อ 3 </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_name_3" class="form-control" placeholder="ชื่อผู้ติดต่อ 3">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ตำแหน่ง </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_position_3" class="form-control" placeholder="ตำแหน่ง">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>เบอร์โทรศัพท์ </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_phone_number_3" class="form-control" placeholder="เบอร์โทรศัพท์">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>อีเมล์ </label>
                                <div class="form-group">
                                    <input type="text" formControlName="contact_email_3" class="form-control" placeholder="อีเมล์">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2">
                        <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> อุปกรณ์ที่ใช้</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <!-- <div class="card-header">รายการเอกสาร</div> -->
                                <div class="table-responsive">
                                    <table id="company_table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;" class="center">ลำดับ</th>
                                                <th style="width: 40%;">อุปกรณ์</th>
                                                <th style="width: 10%;">จำนวน</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of stockList; index as i">
                                                <td style="width: 10%;" class="center">{{i+1}}</td>
                                                <td style="width: 40%;" class="left">{{item.name}}</td>
                                                <td style="width: 10%;" class="left">
                                                    <input type="number" class="form-control" [disabled]="true" 
                                                    [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2 bg-tis-emp">
                        <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> วงเงินคุ้มครอง</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวนหัวหน้าชุด กลางวัน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_head_d" class="form-control" placeholder="จำนวนหัวหน้าชุด กลางวัน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_head_d_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวนหัวหน้าชุด กลางคืน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_head_n" class="form-control" placeholder="จำนวนหัวหน้าชุด กลางคืน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_head_n_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวน รปภ. ชาย กลางวัน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_man_d" class="form-control" placeholder="จำนวน รปภ. ชาย กลางวัน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_man_d_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวน รปภ. ชาย กลางคืน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_man_n" class="form-control" placeholder="จำนวน รปภ. ชาย กลางคืน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_man_n_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวน รปภ. หญิง กลางวัน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_female_d" class="form-control" placeholder="จำนวน รปภ. หญิง กลางวัน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_female_d_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวน รปภ. หญิง กลางคืน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_female_n" class="form-control" placeholder="จำนวน รปภ. หญิง กลางคืน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_female_n_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวน รปภ. เพิ่มเติม กลางวัน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_more_d" class="form-control" placeholder="จำนวน รปภ. หญิง กลางวัน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_more_d_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>จำนวน รปภ. เพิ่มเติม กลางคืน (นาย)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_more_n" class="form-control" placeholder="จำนวน รปภ. หญิง กลางคืน">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ราคา</label>
                                <div class="form-group">
                                    <input type="number" formControlName="number_security_guards_more_n_pay" class="form-control" placeholder="ราคา">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>ประกันภัย</label>
                                <div class="input-group date">
                                    <input type="number" class="form-control" formControlName="insurance" >
                                    <span class="input-group-addon input-group-text" style="cursor: pointer;">
                                        <i *ngIf="!isInsurance" class="fa fa-times" style="color: orange;"></i>
                                        <i *ngIf="isInsurance" class="fa fa-check" style="color: green;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2 bg-tis-emp">
                        <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> กำหนดค่าแรง</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>หัวหน้าชุด กลางวัน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_head_d" class="form-control" placeholder="หัวหน้าชุด กลางวัน (บาท)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>หัวหน้าชุด กลางคืน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_head_n" class="form-control" placeholder="หัวหน้าชุด กลางคืน (บาท)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ผู้ช่วยหัวหน้าชุด กลางวัน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_head_assistant_d" class="form-control" placeholder="ผู้ช่วยหัวหน้าชุด กลางวัน (บาท)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>ผู้ช่วยหัวหน้าชุด กลางคืน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_head_assistant_n" class="form-control" placeholder="ผู้ช่วยหัวหน้าชุด กลางคืน (บาท)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>รปภ. ชาย กลางวัน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_man_d" class="form-control" placeholder="รปภ. ชาย กลางวัน (บาท)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>รปภ. ชาย กลางคืน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_man_n" class="form-control" placeholder="รปภ. ชาย กลางคืน (บาท)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>รปภ. หญิง กลางวัน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_female_d" class="form-control" placeholder="รปภ. หญิง กลางวัน (บาท)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>รปภ. หญิง กลางคืน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_female_n" class="form-control" placeholder="รปภ. หญิง กลางคืน (บาท)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>รปภ. พาร์ทไทม์ กลางวัน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_part_time_d" class="form-control" placeholder="รปภ. พาร์ทไทม์ กลางวัน (บาท)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>รปภ. พาร์ทไทม์ กลางคืน (บาท)</label>
                                <div class="form-group">
                                    <input type="number" formControlName="wage_guards_part_time_n" class="form-control" placeholder="รปภ. พาร์ทไทม์ กลางคืน (บาท)">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2 bg-tis-emp">
                        <legend class="w-auto legend-header" style="text-align: left;color: #1ab196;font-weight: bold;"> สวัสดิการ</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <!-- <div class="card-header">รายการเอกสาร</div> -->
                                <div class="table-responsive">
                                    <table id="company_table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;" class="center">ลำดับ</th>
                                                <th style="width: 50%;">รายละเอียด</th>
                                                <th style="width: 10%;">มูลค่า</th>
                                                <th style="width: 20%;">หน่วย</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of customerWageList; index as i">
                                                <td style="width: 10%;" class="center">{{i+1}}</td>
                                                <td style="width: 50%;" class="left">
                                                    <input type="text" class="form-control" placeholder="รายละเอียดสวัสดิการ" [disabled]="true" 
                                                    [ngClass]="{ 'is-invalid': submitted_add && !item.name }" 
                                                    [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td style="width: 10%;" class="left">
                                                    <input type="number" class="form-control" placeholder="มูลค่า" [disabled]="true" 
                                                    [ngClass]="{ 'is-invalid': submitted_add && !item.wage }" 
                                                    [(ngModel)]="item.wage" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td style="width: 20%;" class="left">
                                                    <input type="text" class="form-control" placeholder="หน่วย เช่น ปี,เดือน,สัปดาห์,วัน,ชั่วโมง" [disabled]="true" 
                                                    [ngClass]="{ 'is-invalid': submitted_add && !item.unit_name }" 
                                                    [(ngModel)]="item.unit_name" [ngModelOptions]="{standalone: true}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    
                    </form>
                  </div>
              </div>
          </div>
      </div>
  
  </div>