<div class="row">   
  <div class="col-xl-11 col-lg-6 col-md-12">
    <span *ngIf="count > 0">
    Showing {{itemStart}} to {{itemEnd}} of {{count}} entries
    </span>
  </div>
  <!-- <div class="col-xl-1 col-lg-6 col-md-12">
      <select class="custom-select" (change)="handlePageSizeChange($event)">
          <option value="10" selected>10</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
      </select>
  </div> -->
  <div class="col-xl-10 col-lg-6 col-md-12">
    <ul>
      <li *ngFor="let item of items | paginate: {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                  }">
      {{ item.title }}
      </li>
    </ul>
  </div>
</div>


<pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
