<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">รายละเอียดตารางงาน</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">รายละเอียดตารางงาน</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-right" style="text-align: right;">
            <!--<button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-subcompany-add"><i
                class="fa fa-plus"></i> ลงเวลาทำงาน</button>-->
        </div>
</div>
<div class="container-fluid"> 

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหา
                        </div>
                        <div class="col-3" style="text-align: right;">
                           <!-- <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#modal-timesheet-add"><i
                                class="fa fa-plus"></i> ลงเวลาทำงาน</button>-->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="pick_date" class="control-label">วันที่ลงเวลา </label>
                                    <div class="input-group date"> 
                                        <input type="text" 
                                        style="background-color: rgb(255, 255, 255);"
                                        name="daterangeInput" daterangepicker [options]="optionleDate" (selected)="selectedDate($event, daterange)"
                                        class="form-control">
                                    </div>
                                    <!--<div *ngIf="submitted_add &amp;&amp; addForm.controls.pick_date.errors" class="text-danger">
                                        <div *ngIf="addForm.controls.pick_date.errors.required">โปรดระบุ วันที่โอนจ่ายเงิน</div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3" *ngIf="isApprover">
                                <div class="form-group">
                                    <label class="control-label">พนักงาน <span class="star-required">*</span></label>
                                    <mat-form-field *ngIf="isShowEmployee" style="width: 100%;" [formGroup]="formDataEmployee">
                                        <mat-select formControlName="valueSelect" placeholder="" (ngModelChange)="changeEmployee($event)" #singleSelect>
                                            <mat-option>
                                            <ngx-mat-select-search placeholderLabel="ค้นหาข้อมูลพนักงาน" noEntriesFoundLabel="ไม่ข้อมูลพนักงาน"
                                            [formControl]="employeeFilterCtrl"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let employee of filteredEmployeeList | async" [value]="employee">
                                            {{employee.first_name}} {{employee.last_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <span *ngIf="!isShowEmployee" >กำลังโหลดข้อมูล...</span>
                                    <div *ngIf="submitted_search &amp;&amp; searchForm.controls.employee_id.errors" class="text-danger">
                                        <div *ngIf="searchForm.controls.employee_id.errors.required">โปรดระบุ ข้อมูลพนักงาน</div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label for="type" class="control-label">สถานะ </label>
                                    <select class="form-control" formControlName="type">
                                        <option value="">ทั้งหมด</option>
                                        <option value="N">ลงเวลาปกติ</option>
                                        <option value="SL">ลาป่วย</option>
                                        <option value="VL">ลากิจ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2" style="text-align: center;">
                                <br />
                                <button class="btn btn-rounded btn-info" (click)="search()"> <i
                                    class="fa fa-search"></i> ค้นหา</button>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-sm-12 col-md-12" style="text-align: center;">
                                <br />
                                <button class="btn btn-rounded btn-info"> <i
                                    class="fa fa-search"></i> ค้นหา</button>
                            </div>
                        </div> -->

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-7">
                            ตารางงาน
                            &nbsp;&nbsp;
                            <span *ngIf="employeeId != 0 && employee" 
                            style="font-weight: bold;font-size: 20px;color: rgb(53, 120, 244);">
                                {{employee.prefix}}{{employee.first_name}} &nbsp; {{employee.last_name}}
                            </span>
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <button type="button" class="btn btn-rounded btn-success" (click)="openModalAdd()"><i
                                class="fa fa-plus"></i> ลงเวลาทำงาน</button> &nbsp;
                            <button type="button" class="btn btn-rounded btn-warning" (click)="export()"><i
                                class="fas fa-file-pdf"></i> Export</button>    
                        </div>
                    </div>
                    <div class="row" style="margin-top: 6px;">
                        <div class="col-12" style="text-align: right;">
                            <span class="text-grey pull-right">
                                <i class="fas fa-check" style="color: rgb(10, 200, 10);font-size: 20px;"></i> ลงเวลาทำงานปกติ |
                                <i class="fas fa-times" style="color: rgb(249, 69, 69);font-size: 20px;"></i> ไม่ได้ลงเวลาทำงาน |
                                <i class="fa fa-exclamation-triangle" style="color: blueviolet;"></i> ลาป่วย |
                                <i class="fa fa-exclamation-triangle" style="color: rgb(246, 176, 47);font-size: 20px;"></i> ลากิจ
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 6px;">
                        <div class="col-12" style="text-align: right;">
                            <span class="text-grey pull-right">
                                <i class="fa fa-exclamation-circle" style="color: blue"></i> รออนุมัติ |
                                <i class="fas fa-check" style="color: rgb(10, 200, 10);font-size: 20px;"></i> อนุมัติ |
                                <i class="fas fa-times" style="color: rgb(249, 69, 69);font-size: 20px;"></i> ไม่อนุมัติ
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_advmoney_all" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 13%;" class="center">วันที่</th>
                                    <th style="width: 7%;" class="center">สถานะ</th>
                                    <th style="width: 7%;" class="center">ประเภท</th>
                                    <th style="width: 25%;" class="center">รายละเอียด</th>
                                    <th style="width: 10%;" class="center">เอกสารแนบ</th>
                                    <th style="width: 15%;" class="center">วันเวลาที่บันทึก</th>
                                    <th style="width: 15%;" class="center">วันเวลาที่บันทึกล่าสุด</th>
                                    <th style="width: 10%;" class="center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of timesheetList; index as i">
                                    <td class="center">
                                        {{displayWorkDate(item.work_date)}}
                                    </td>
                                    <td class="center">
                                        <a style="cursor: pointer;" *ngIf="item.status === 'A'">
                                            <i class="fas fa-check" style="color: rgb(10, 200, 10);font-size: 20px;"></i>
                                        </a>
                                        <a style="cursor: pointer;" *ngIf="item.status === 'R'">
                                            <i class="fas fa-times" style="color: rgb(249, 69, 69);font-size: 20px;"></i>
                                        </a>
                                        <a style="cursor: pointer;" *ngIf="item.status === 'W'">
                                            <i class="fa fa-exclamation-circle" style="color: blue;font-size: 20px;"></i>
                                        </a><br>
                                        <span *ngIf="item.status === 'R'">เหตุผลที่ไม่อนุมัติ : {{item.reason}}</span>
                                    </td>
                                    <td class="center">
                                        <a style="cursor: pointer;" *ngIf="item.type === 'N'">
                                            <i class="fas fa-check" style="color: rgb(10, 200, 10);font-size: 20px;"></i>
                                        </a>
                                        <a style="cursor: pointer;" *ngIf="!item.type">
                                            <i class="fas fa-times" style="color: rgb(249, 69, 69);font-size: 20px;"></i>
                                        </a>
                                        <a style="cursor: pointer;" *ngIf="item.type === 'SL'">
                                            <i class="fa fa-exclamation-triangle" style="color: blueviolet;font-size: 20px;"></i>
                                        </a>
                                        <a style="cursor: pointer;" *ngIf="item.type === 'VL'">
                                            <i class="fa fa-exclamation-triangle" style="color: rgb(246, 176, 47);font-size: 20px;"></i>
                                        </a>
                                    </td>
                                    <td class="left"> 
                                        <span style="white-space: pre-wrap" [innerHTML]="item.details"></span>
                                    </td>
                                    <td class="center">
                                        <div *ngFor="let fileItem of item.fileList; index as fileIndex" style="padding: 4px;">
                                            <a *ngIf="fileItem?.url != null " type="button" class="btn btn-rounded btn-info" title="โหลดหลักฐานประกอบ" target="_blank"
                                                        href="{{ fileItem.url }}">
                                                            <i class="fa fas fa-download"></i></a>
                                        </div>
                                    </td>
                                    <td class="center">
                                        {{displayUpdateDate(item.created_at)}}
                                    </td>
                                    <td class="center">
                                        {{displayUpdateDate(item.updated_at)}}
                                    </td>
                                    <td class="center">
                                        <!--<a href="#" target="_blank"><i class="fas fa-search btn-view"></i></a>&nbsp;-->
                                        <a (click)="openModalEdit(item.id,item.work_date)" *ngIf="item.status == 'A'"><i class="fas fa-search btn-view"></i></a>&nbsp;
                                        <a (click)="openModalEdit(item.id,item.work_date)" *ngIf="item.status != 'A'"><i class="fas fa-edit btn-edit"></i></a>&nbsp;
                                        <i class="fas fa-trash-alt btn-remove" *ngIf="item.status != 'A'" (click)="openModalDelete(item.id)"></i>
                                    </td> 
                                </tr>  
                            </tbody>
                        </table>
                    </div> 

                </div>
            </div>
        </div>
    </div>

</div> 
 

<!--Add modal-->
<div class="modal" id="modal-timesheet-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-add">
                <h4 class="modal-title" id="exampleModalLabel1">ลงเวลาทำงาน</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm">
                    <div class="form-group">
                        <label for="pick_date" class="control-label">วันที่ <span class="star-required">*</span></label>
                        <div class="input-group date"> 
                            <input type="text" 
                            style="background-color: rgb(255, 255, 255);"
                            name="daterangeInput" daterangepicker [options]="optionleAddDate" (selected)="selectedAddDate($event, daterange)"
                            class="form-control" id="work_date" formControlName="work_date" [ngClass]="{ 'is-invalid': submitted_add && addForm.controls.work_date.errors }">
                        </div>
                        <!--<div *ngIf="submitted_add &amp;&amp; addForm.controls.work_date.errors" class="text-danger">
                            <div *ngIf="addForm.controls.work_date.errors.required">โปรดระบุวันที่</div>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="type" class="control-label">ประเภท <span class="star-required">*</span></label>
                        <select class="form-control" formControlName="type">
                            <option value="">--- เลือกประเภท ---</option>
                            <option value="N">ลงเวลาปกติ</option>
                            <option value="SL">ลาป่วย</option>
                            <option value="VL">ลากิจ</option>
                        </select>
                        <div *ngIf="submitted_add &amp;&amp; addForm.controls.type.errors" class="text-danger">
                            <div *ngIf="addForm.controls.type.errors.required">โปรดระบุประเภท</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">รายละเอียด</label>
                        <textarea class="form-control" rows="10" formControlName="details"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header card-header-cover-table">
                                    <div class="row">
                                        <div class="col-7">
                                            รายละเอียดงาน 
                                        </div>
                                        <div class="col-5" style="text-align: right;">
                                            <button type="button" class="btn btn-rounded btn-info" (click)="addTimesheetDetail()"><i
                                                class="fa fa-plus"></i> เพิ่มหน่วยงาน</button>    
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="border: 1px solid #dbdbdb;">
                                    <div class="row" *ngFor="let item of timesheetDetailList; index as i">
                                        <div class="col-12">
                                            <div class="card" style="border: 1px solid #dbdbdb;">
                                                <div class="card-header card-header-cover-table" style="background-color: bisque">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-8">
                                                                    <ng-multiselect-dropdown *ngIf="isShowCustomer" 
                                                                        [placeholder]="'เลือกหน่วยงาน'"
                                                                        [settings]="dropdownSettings"
                                                                        [data]="customerList"
                                                                        [(ngModel)]="item.customer"
                                                                        (onSelect)="onSelect($event,item)"
                                                                        (onDeSelect)="onDeSelect(item)"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        >
                                                                    </ng-multiselect-dropdown>
                                                                    <span *ngIf="!isShowCustomer" >กำลังโหลดข้อมูลหน่วยงาน...</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-5" style="text-align: right;">
                                                            <button type="button" class="btn btn-rounded btn-success" (click)="addTimesheetSubDetail(i)"><i
                                                                class="fa fa-plus"></i> เพิ่มรายการ</button>&nbsp;&nbsp;
                                                            <button type="button" class="btn btn-rounded btn-danger" (click)="remoteTimesheetDetail(i)"><i
                                                                class="fa fa-trash"></i> ลบ</button>    
                                                        </div>
                                                    </div>
                                                </div> 

                                                <div class="row" *ngFor="let subDetail of item.timesheetSubDetailList; index as countSub">
                                                    <div class="col-12">
                                                        <div class="card" style="margin: 10px;">
                                                            <div class="card-header card-header-cover-table" style="background-color: #FFBC4A;">
                                                                <div class="row">
                                                                    <div class="col-7">
                                                                        รายการที่ #{{countSub+1}}
                                                                    </div>
                                                                    <div class="col-5" style="text-align: right;">
                                                                        <button type="button" class="btn btn-rounded btn-danger" (click)="remoteTimesheetSubDetail(i,countSub)">
                                                                            <i class="fa fa-trash"></i> ลบ</button>    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body" style="border: 1px solid #dbdbdb;">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-6">
                                                                        <div class="form-group m-b-30">
                                                                            <label for="master-data-category-search">ฝ่าย/แผนก</label>
                                                                            <select class="form-control" (change)="selectMainTopic(i,countSub)" [(ngModel)]="subDetail.mainTopicId" [ngModelOptions]="{standalone: true}">
                                                                                <option value="">--- เลือกฝ่าย/แผนก ---</option>
                                                                                <option *ngFor="let item of mainTopicMasterList" value="{{item.id}}">{{item.title}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12 col-md-6">
                                                                        <div class="form-group m-b-30">
                                                                            <label for="master-data-category-search">ภารกิจ</label>
                                                                            <select class="form-control" [(ngModel)]="subDetail.subTopicId" [ngModelOptions]="{standalone: true}">
                                                                                <option value="">--- เลือกภารกิจ ---</option>
                                                                                <option *ngFor="let item of subDetail.subTopicMasterList" value="{{item.id}}">{{item.title}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>  
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <label for="description" class="control-label">รายละเอียด</label>
                                                                            <textarea class="form-control" rows="5" [(ngModel)]="subDetail.description" [ngModelOptions]="{standalone: true}"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="input-group">
                                                                        <div *ngFor="let progressInfo of progressInfos" class="col-sm-12 col-md-12" style="margin-bottom: 10px;">
                                                                            <span>{{ progressInfo.fileName }}</span>
                                                                            <div class="progress" style="height: 40%;">
                                                                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                                                                    attr.aria-valuenow="{{ progressInfo.value }}"
                                                                                    aria-valuemin="0"
                                                                                    aria-valuemax="100"
                                                                                    [ngStyle]="{ width: progressInfo.value + '%' }">
                                                                                    {{ progressInfo.value }}%
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-8">
                                                                            <div class="form-group">
                                                                                <label>เลือกไฟล์เอกสาร</label>
                                                                                <input type="file" class="form-control" multiple (change)="selectFiles($event)" />
                                                                                <span style="color: chocolate;">{{message}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-2">
                                                                            <button class="btn btn-success" [disabled]="!selectedFiles" style="margin-top: 28px;" (click)="uploadFiles(i,countSub)">
                                                                                อัพโหลดไฟล์
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-6 center" *ngFor="let data of subDetail.fileList; index as no">
                                                                        <img src="{{data.url}}" width="100%" />
                                                                        <button type="button" class="btn btn-rounded btn-danger" (click)="remoteFileList(i,countSub,no)">
                                                                            <i class="fa fa-trash"></i> ลบ</button> 
                                                                        <hr>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                         </div>   
                                                        </div>
                                                    </div> 

                                            </div>
                                        </div>
                                    </div> 

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" *ngIf="isAdd" (click)="saveTimesheet(addForm.value)">บันทึก</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Add modal--> 

<!--update modal-->
<div class="modal" id="modal-timesheet-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-edit">
                <h4 class="modal-title" id="exampleModalLabel1">แก้ไขลงเวลาทำงาน</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm">
                    <button type="button" style="float: right;" class="btn btn-rounded btn-warning" *ngIf="isApprover && timesheet?.status != 'A'" (click)="updateApprover(editForm.value.id,'R')">ไม่อนุมัติ</button>
                    <button type="button" style="float: right;" class="btn btn-rounded btn-success" *ngIf="isApprover && timesheet?.status != 'A'" (click)="updateApprover(editForm.value.id,'A')">อนุมัติ</button>
                    <div class="form-group">
                        <label for="pick_date" class="control-label">วันที่ <span class="star-required">*</span></label>
                        <div class="form-group txt-detail">
                            {{displayWorkDate(editForm.value.work_date)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="control-label">ประเภท <span class="star-required">*</span></label>
                        <select class="form-control" formControlName="type">
                            <option value="">--- เลือกประเภท ---</option>
                            <option value="N">ลงเวลาปกติ</option>
                            <option value="SL">ลาป่วย</option>
                            <option value="VL">ลากิจ</option>
                        </select>
                        <div *ngIf="submitted_add &amp;&amp; editForm.controls.type.errors" class="text-danger">
                            <div *ngIf="editForm.controls.type.errors.required">โปรดระบุประเภท</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">รายละเอียด</label>
                        <textarea class="form-control" rows="10" formControlName="details"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header card-header-cover-table">
                                    <div class="row">
                                        <div class="col-7">
                                            รายละเอียดงาน 
                                        </div>
                                        <div class="col-5" style="text-align: right;">
                                            <button type="button" class="btn btn-rounded btn-info" (click)="addTimesheetDetail()"><i
                                                class="fa fa-plus"></i> เพิ่มหน่วยงาน</button>    
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="border: 1px solid #dbdbdb;">
                                    <div class="row" *ngFor="let item of timesheetDetailList; index as i">
                                        <div class="col-12">
                                            <div class="card" style="border: 1px solid #dbdbdb;">
                                                <div class="card-header card-header-cover-table" style="background-color: bisque">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-8">
                                                                    <ng-multiselect-dropdown *ngIf="isShowCustomer" 
                                                                        [placeholder]="'เลือกหน่วยงาน'"
                                                                        [settings]="dropdownSettings"
                                                                        [data]="customerList"
                                                                        [(ngModel)]="item.customer"
                                                                        (onSelect)="onSelect($event,item)"
                                                                        (onDeSelect)="onDeSelect(item)"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        >
                                                                    </ng-multiselect-dropdown>
                                                                    <span *ngIf="!isShowCustomer" >กำลังโหลดข้อมูลหน่วยงาน...</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-5" style="text-align: right;">
                                                            <button type="button" class="btn btn-rounded btn-success" (click)="addTimesheetSubDetail(i)"><i
                                                                class="fa fa-plus"></i> เพิ่มรายการ</button>&nbsp;&nbsp;
                                                            <button type="button" class="btn btn-rounded btn-danger" (click)="remoteTimesheetDetail(i)"><i
                                                                class="fa fa-trash"></i> ลบ</button>    
                                                        </div>
                                                    </div>
                                                </div> 

                                                <div class="row" *ngFor="let subDetail of item.timesheetSubDetailList; index as countSub">
                                                    <div class="col-12">
                                                        <div class="card" style="margin: 10px;">
                                                            <div class="card-header card-header-cover-table" style="background-color: #FFBC4A;">
                                                                <div class="row">
                                                                    <div class="col-7">
                                                                        รายการที่ #{{countSub+1}}
                                                                    </div>
                                                                    <div class="col-5" style="text-align: right;">
                                                                        <button type="button" class="btn btn-rounded btn-danger" (click)="remoteTimesheetSubDetail(i,countSub)">
                                                                            <i class="fa fa-trash"></i> ลบ</button>    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body" style="border: 1px solid #dbdbdb;">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-6">
                                                                        <div class="form-group m-b-30">
                                                                            <label for="master-data-category-search">ฝ่าย/แผนก</label>
                                                                            <select class="form-control" (change)="selectMainTopic(i,countSub)" [(ngModel)]="subDetail.mainTopicId" [ngModelOptions]="{standalone: true}">
                                                                                <option value="">--- เลือกฝ่าย/แผนก ---</option>
                                                                                <option *ngFor="let item of mainTopicMasterList" value="{{item.id}}">{{item.title}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12 col-md-6">
                                                                        <div class="form-group m-b-30">
                                                                            <label for="master-data-category-search">ภารกิจ</label>
                                                                            <select class="form-control" [(ngModel)]="subDetail.subTopicId" [ngModelOptions]="{standalone: true}">
                                                                                <option value="">--- เลือกภารกิจ ---</option>
                                                                                <option *ngFor="let item of subDetail.subTopicMasterList" value="{{item.id}}">{{item.title}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>  
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <label for="description" class="control-label">รายละเอียด</label>
                                                                            <textarea class="form-control" rows="5" [(ngModel)]="subDetail.description" [ngModelOptions]="{standalone: true}"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="input-group">
                                                                        <div *ngFor="let progressInfo of progressInfos" class="col-sm-12 col-md-12" style="margin-bottom: 10px;">
                                                                            <span>{{ progressInfo.fileName }}</span>
                                                                            <div class="progress" style="height: 40%;">
                                                                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                                                                    attr.aria-valuenow="{{ progressInfo.value }}"
                                                                                    aria-valuemin="0"
                                                                                    aria-valuemax="100"
                                                                                    [ngStyle]="{ width: progressInfo.value + '%' }">
                                                                                    {{ progressInfo.value }}%
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-8">
                                                                            <div class="form-group">
                                                                                <label>เลือกไฟล์เอกสาร</label>
                                                                                <input type="file" class="form-control" multiple (change)="selectFiles($event)" />
                                                                                <span style="color: chocolate;">{{message}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-2">
                                                                            <button class="btn btn-success" [disabled]="!selectedFiles" style="margin-top: 28px;" (click)="uploadFiles(i,countSub)">
                                                                                อัพโหลดไฟล์
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-6 center" *ngFor="let data of subDetail.fileList; index as no">
                                                                        <img src="{{data.url}}" width="100%" />
                                                                        <button type="button" class="btn btn-rounded btn-danger" (click)="remoteFileList(i,countSub,no)">
                                                                            <i class="fa fa-trash"></i> ลบ</button> 
                                                                        <hr>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                         </div>   
                                                        </div>
                                                    </div> 

                                            </div>
                                        </div>
                                    </div> 

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" *ngIf="isUpdate && timesheet?.status != 'A'" (click)="updateTimesheet(editForm.value)">บันทึก</button>
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End update modal--> 

<!-- Delete timesheet modal-->
<div class="modal" id="modal-delete-timesheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center remove-modal-bg-content">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องลบข้อมูลรายการนี้
                </span>
            </div>
            <div class="modal-body">
                 
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-rounded btn-danger" (click)="delete(currentId)">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End delete timesheet modal-->