<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">ระบบลูกค้าสัมพันธ์</h4>
          <div class="d-flex align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page">ระบบลูกค้าสัมพันธ์</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <a type="button" class="btn btn-rounded btn-success" href="#customer/add" style="color: #FFFFFF;"><i class="fa fa-plus"></i> เพิ่มข้อมูลลูกค้า</a>
          </div>
      </div>
  </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-cover-table">
                    <div class="row">
                        <div class="col-9">
                            ค้นหาข้อมูลลูกค้า
                        </div>
                        <div class="col-3">
                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <label for="stock-category">ข้อมูล</label>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="input" class="form-control" placeholder="ระบุลูกค้า(บริษัท/บุคคล)หรือเบอร์โทรหรือแฟกซ์หรืออีเมล์ที่ต้องการค้นหา...">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label for="stock-category">ที่อยู่</label>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="addressDetail" class="form-control" placeholder="ระบุข้อมูลที่อยู่ที่ต้องการค้นหา...">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button type="button" class="btn btn-rounded btn-info" style="margin-top: 13%;" (click)="searchCustomer()">
                                <i class="fa fa-search"></i> ค้นหา</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header card-header-cover-table">
                รายชื่อลูกค้า
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <button *ngIf="isToggleButtonLoadExcel" type="button" class="btn btn-success" (click)="exportExcel()">
                        <i class="fas fa-file-excel" ></i> โหลดเอกสาร
                    </button>
                    <h4 *ngIf="!isToggleButtonLoadExcel" style="color: orangered;">เลือกข้อมูลบริษัทเพื่อโหลดเอกสาร</h4>
                      <table id="customer_table" class="table table-striped table-bordered">
                          <thead>
                              <tr>
                                <th style="width: 5%;" class="right"><input type="checkbox" (change)="selectCustomerAll($event)"></th>
                                <th style="width: 20%;">ข้อมูลบริษัท (สำนักงานใหญ่)</th>
                                <th style="width: 25%;">ที่อยู่/เบอร์โทร/อีเมล์</th>
                                <th style="width: 20%;">ข้อมูลสาขา</th>
                                <th style="width: 25%;">ที่อยู่/เบอร์โทร/อีเมล์</th>
                                <th style="width: 10%;"></th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of customerList; index as i">
                                <td style="width: 5%;" class="right">
                                    <input type="checkbox" (change)="selectCustomer(item)" [checked]="item.checked">
                                </td>
                                <td style="width: 20%;">
                                    {{item.customer_company_name}}
                                </td>
                                <td style="width: 25%;">
                                    {{item.customer_company_address_detail}}<br>
                                    <small style="color: gray;">
                                        <b>เบอร์โทร&nbsp;:&nbsp;{{item.customer_company_mobile}}</b>
									</small><br>
                                    <small style="color: gray;">
                                        <b>อีเมล์&nbsp;:&nbsp;{{item.customer_company_email}}</b>
									</small>
                                </td>
                                <td style="width: 20%;">
                                    {{item.name}}
                                </td>
                                <td style="width: 25%;">
                                    {{item.address_detail}}<br>
                                    <small style="color: gray;">
                                        <b>เบอร์โทร&nbsp;:&nbsp;{{item.mobile}}</b>
									</small><br>
                                    <small style="color: gray;">
                                        <b>อีเมล์&nbsp;:&nbsp;{{item.email}}</b>
									</small>
                                </td>
                                <td style="width: 10%;">
                                    <a href="/#/customer/{{item.id}}/view" target="blank"><i class="fas fa-search btn-view"></i></a>&nbsp;
                                    <a href="/#/customer/{{item.id}}/edit" target="blank"><i class="fas fa-edit btn-edit"></i></a>&nbsp;
                                    <i class="fas fa-trash-alt btn-remove" (click)="delete(item.id)"></i>
                                </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Start Modal Delete -->
<div class="modal" id="modal-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center remove-modal-bg-content">
                <i class="fa fa-exclamation-circle warnnig-remove-icon" aria-hidden="true"></i><br />
                <span class="warnnig-remove-text">
                    คุณต้องการลบข้อมูลลูกค้านี้
                </span>
            </div>
            <div class="modal-footer center">
                    <button type="button" class="btn btn-danger" (click)="deleteProcess()">ยืนยัน</button>&nbsp;
                    <button type="button" class="btn btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Delete -->